---
title: Nikkori - Sucursal Cd. Victoria
---

<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">
        <img src="/wp-content/uploads/2019/02/nikkori-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a href="/menu.html" class="navbar-item__alt navbar-item">
          Menú
        </a>

        <a href="/sucursales.html" class="navbar-item__alt navbar-item">
          Sucursales
        </a>

        <a href="/catering.html" class="navbar-item__alt navbar-item">
          Catering
        </a>

        <a href="/negocio.html" class="navbar-item__alt navbar-item">
          Negocio
        </a>

        <div class="navbar-item">
          <div class="buttons">
            <a href="https://www.instagram.com/nikkori_sushi"><i class="social-icon__alt fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/nikkori.mx"><i class="social-icon__alt fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>

    </div>
</nav>
<section class="hero cateringContainer is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title cateringContainer__title">
        Nikkori Ciudad Victoria
      </h1>
      <section class="menu__category-grid">
        <a href="#entradas" class="menu__category-card">
          <article>
            <h3>Entradas</h3>
          </article>
        </a>
        <a href="#pokebowl" class="menu__category-card">
          <article>
            <h3>Poke Bowl</h3>
          </article>
        </a>
        <a href="#rolls" class="menu__category-card">
          <article>
            <h3>Rollos</h3>
          </article>
        </a>
        <a href="#arrozensaladas" class="menu__category-card">
          <article>
            <h3>Arroz y ensaladas</h3>
          </article>
        </a>
        <a href="#teppanyaki" class="menu__category-card">
          <article>
            <h3>Teppanyaki</h3>
          </article>
        </a>
        <a href="#sashimi" class="menu__category-card">
          <article>
            <h3>Sashimi</h3>
          </article>
        </a>
        <a href="#temakisnigiris" class="menu__category-card">
          <article>
            <h3>Temakis y nigiris</h3>
          </article>
        </a>
        <a href="#sopaspastas" class="menu__category-card">
          <article>
            <h3>Sopas y pastas</h3>
          </article>
        </a>
        <a href="#vegan" class="menu__category-card">
          <article>
            <h3>Vegan</h3>
          </article>
        </a>
        <a href="#kids" class="menu__category-card">
          <article>
            <h3>Kids</h3>
          </article>
        </a>
      </section>
    </div>
  </div>
</section>
<section id="entradas" class="section menu__intro">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="menu__intro-title">
          <h3 class="title">Entradas</h3>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-one-quarter is-one-quarter">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Edemames</h4>
          <p>Vaina de frijol de soya.<br>
            Al vapor o preparados.</p>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="menu__intro-item">
          <br>
          <br>
          <p>Al Vapor<span class="menu__intro-price">83mxn</span></p>
          <p>Preparados<span class="menu__intro-price">86mxn</span></p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third is-offset-one-third">
        <img src="/wp-content/uploads/2019/02/edemames.png" class="menu__intro-img" alt="">
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-1 is-4">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Egg Roll (2 piezas) <span class="menu__intro-price">72mxn</span></h4>
          <p>Relleno de surimi, queso crema y chile chipotle.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Takkori <span class="menu__intro-price">139mxn</span></h4>
          <p>3 tacos en tortilla de alga, arroz de sushi,
            aguacate, salsa spicy, cebollín y salmón o
            atún spicy.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Kushiages <span class="menu__intro-price">84mxn</span></h4>
          <p>6 brochetas empanizadas de queso manchego o panela.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Kuchis de salmon <span class="menu__intro-price">114mxn</span></h4>
          <p>Dedos de salmón con queso crema, empanizados.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Ebi Furai <span class="menu__intro-price">118mxn</span></h4>
          <p>Camarones rellenos de queso crema, empanizados.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Baby squid <span class="menu__intro-price">72mxn</span></h4>
          <p>Calamar relleno de pasta de cangrejo con salsa de anguila.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Taco Kaiten <span class="menu__intro-price">118mxn</span></h4>
          <p>Exquisito taco de camarón gratinado con queso manchego servido en tortilla de maíz o harina, bañado en nuestra salsa sambal, acompañado de guacamole, tomate y cebolla.</p>
        </div>
      </div>
      <div class="column is-offset-1 is-4">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Sweet Tower <span class="menu__intro-price">169mxn</span></h4>
          <p>Trozos de mango, manzana y salmón marinado con aceite de oliva, ralladura de lima, jengibre, yozu, soya, sal, pimienta e ikura acompañada de lechuca mixta, pepino y vinagreta de moztasa japonesa.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Tostadas de atín Zensai <span class="menu__intro-price">112mxn</span></h4>
          <p>Tostada Won Tn con atún marinado en salsa spicy, aguacate y cebollín.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Tacos sin culpa <span class="menu__intro-price">108mxn</span></h4>
          <p>Orden de 4 tacos de camarónc apeado, atún o salmón, pico de gallo, salsa spicy ambal, sriracaha y salsa de aguila servidos en tortilla de jícama.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Camarones bomba <span class="menu__intro-price">149mxn</span></h4>
          <p>Camarón capeado envuelto en queso manchego, servido sobre una cama de hilos de papa frita.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Tostadas Nikkori <span class="menu__intro-price">112mxn</span></h4>
          <p>Tostaditas de atún, aguacate, cebolla morada y cilantro montado sobre spicy cambal, sal en grano y togarashi
          </p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Yakitori <span class="menu__intro-price">92mxn</span></h4>
          <p>3 brochetas de pollo bañadas con salsa teriyaki, cebola y morrón.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-1 is-4">
        <div class="menu__intro-item">
          <img src="/wp-content/uploads/2019/02/rocknroll-shrimps.png" class="menu__intro-img" alt="">
          <h4 class="menu__intro-itemTitle">Rock and roll shrimps <span class="menu__intro-price">149mxn</span></h4>
          <p>Exquisito taco de camarón gratinado con queso manchego servido en tortilla de maíz o harina, bañado en nuestra salsa sambal, acompañado de guacamole, tomate y cebolla.</p>
        </div>
      </div>
      <div class="column is-offset-1 is-4">
        <div class="menu__intro-item">
          <img src="/wp-content/uploads/2019/02/tuna-tower.png" class="menu__intro-img" alt="">
          <h4 class="menu__intro-itemTitle">Tuna tower <span class="menu__intro-price">185mxn</span></h4>
          <p>Arroz de sushi, kanikama y atún spicy, aguacate, furikake, aderezo de wasabi y tobikos.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-1 is-4">
        <h4 class="menu__intro-itemTitle">Tempuras</h4>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Verduras <span class="menu__intro-price">89mxn</span></h4>
          <p>Zanahoria, calabaza, champiñones, coliflor, brócoli y cebolla.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Camarón <span class="menu__intro-price">177mxn</span></h4>
          <p>Zanahoria, calabaza, champiñones, coliflor, brocoli, cabolla y 6 camarones</p>
        </div>
      </div>
      <div class="column is-offset-1 is-4">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Tempura mixta <span class="menu__intro-price">129mxn</span></h4>
          <p>Zanahoria, calabaza, champiñones, coliflor, brócoli, cebolla y 2 camarones.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="pokebowl" class="section menu__pokebowl">
  <div class="container menu__pokebowl-container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="menu__pokebowl-title">
          <img class="menu__pokebowl-logo" src="/wp-content/uploads/2019/02/pokebowl-logo.png" alt="">
          <h3 class="titleMid">01. Escoge 1 base</h3>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-2 is-2">
        <img src="/wp-content/uploads/2019/02/pb-jicama.png" class="menu__pokebowl-baseImg" alt="">
        <p class="">Jícama</p>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/pb-pepino.png" class="menu__pokebowl-baseImg" alt="">
        <p class="">Pepino</p>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/pb-afrito.png" class="menu__pokebowl-baseImg" alt="">
        <p class="">Arroz frito</p>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/pb-aintegral.png" class="menu__pokebowl-baseImg" alt="">
        <p class="">Arroz integral</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-3 is-2">
        <img src="/wp-content/uploads/2019/02/pb-ablanco.png" class="menu__pokebowl-baseImg" alt="">
        <p class="">Arroz blanco</p>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/pb-noodles.png" class="menu__pokebowl-baseImg" alt="">
        <p class="">Noodles</p>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/pb-quinoa.png" class="menu__pokebowl-baseImg" alt="">
        <p class="">quinoa</p>
      </div>
    </div>
  </div>
</section>
<section class="section menu__pokebowlAlt">
  <div class="container menu__pokebowlAlt-container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="menu__pokebowlAlt-title">
          <h3 class="titleMid">02. Agrega 2 proteinas</h3>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="menu__pokebowlAlt-protein">
          <p>Tsurimi</p>
          <img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-tsurimi.png" alt="">
        </div>
      </div>
      <div class="column is-4">
        <div class="menu__pokebowlAlt-protein">
          <img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-cangrejo.png" alt="">
          <p>Cangrejo</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="menu__pokebowlAlt-protein">
          <p>Camarón</p>
          <img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-camaron.png" alt="">
        </div>
      </div>
      <div class="column is-4">
        <div class="menu__pokebowlAlt-protein">
          <img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-atun-spicy.png" alt="">
          <p>Atún spicy</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="menu__pokebowlAlt-protein">
          <p>Salmón</p>
          <img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-salmon.png" alt="">
        </div>
      </div>
      <div class="column is-4">
        <div class="menu__pokebowlAlt-protein">
          <img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-atun.png" alt="">
          <p>Atún</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="menu__pokebowlAlt-protein">
          <p>Salmón Premium</p>
          <img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-salmon-premium.png" alt="">
        </div>
      </div>
      <div class="column is-4">
        <div class="menu__pokebowlAlt-protein">
          <img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-tofu.png" alt="">
          <p>Tofu</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="menu__pokebowlAlt-divider">

        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 is-offset-1">
        <div class="menu__pokebowlAlt-title has-text-right">
          <h3 class="titleMid">03. Elige 2 aderezos</h3>
        </div>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/pb-spicy.png" class="menu__pokebowlAlt-proteinImg" alt="">
        <p>Spicy</p>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/pb-wasabi.png" class="menu__pokebowlAlt-proteinImg" alt="">
        <p>Wasabi</p>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/pb-ponzu.png" class="menu__pokebowlAlt-proteinImg" alt="">
        <p>Ponzu</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-4">
        <img src="/wp-content/uploads/2019/02/pb-soya.png" class="menu__pokebowlAlt-proteinImg" alt="">
        <p>Soya</p>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/pb-chipotle.png" class="menu__pokebowlAlt-proteinImg" alt="">
        <p>Chipotle</p>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/pb-vegas.png" class="menu__pokebowlAlt-proteinImg" alt="">
        <p>Las vegas</p>
      </div>
    </div>
  </div>
</section>
<section class="section menu__pokebowlThird">
  <div class="container menu__pokebowlThird-container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="menu__pokebowlAlt-title">
          <h3 class="titleMid">04. Selecciona 5 toppings y mezcla</h3>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <img src="/wp-content/uploads/2019/02/toppings.png" alt="">
        <p class="menu__pokebowlThird-toppingBox">queso crema · pepino rallado · pepino · algas marinas · semillas de girasol · camote · mango · acelga frita · cebolla caramelizada · edamames · ajonjolí · cebollín · jícama · zanahoria · jengibre · won ton · piña · masago · pepitas de calabaza · germen de soya · plátano fríto · aguacate · germen de alfalfa</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-4">
        <div class="menu__pokebowlThird-size">
          <h3 class="subtitle">$109</h3>
          <img class="menu__pokebowlThird-img" src="/wp-content/uploads/2019/02/small-poke.png" alt="">
        </div>
      </div>
      <div class="column is-2">
        <div class="menu__pokebowlThird-size">
          <h3 class="subtitle">$179</h3>
          <img class="menu__pokebowlThird-img" src="/wp-content/uploads/2019/02/big-poke.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section menu__pokebowlAlt">
  <div class="container menu__pokebowlAlt-container">
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="menu__pokebowlAlt-title has-text-left">
          <h3 class="titleMid">signature <br> <span>pokes</span></h3>
        </div>
      </div>
      <div class="column is-2 is-offset-2 has-text-right">
        <img src="/wp-content/uploads/2019/02/signature-logo.png" alt="">
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="menu__pokebowlAlt-signature">
          <img src="/wp-content/uploads/2019/02/poke1.png" class="menu__pokebowlAlt-signatureImg" alt="">
          <h4>chipotle crab & shrimp</h4>
          <p>arroz frito / pepino, agacate, edemames, zanahoria y queso crema / camaron y tampico / ajonjoli negro y spicy sambal</p>
        </div>
      </div>
      <div class="column">
        <div class="menu__pokebowlAlt-signature">
          <img src="/wp-content/uploads/2019/02/poke2.png" class="menu__pokebowlAlt-signatureImg" alt="">
          <h4>mango avocado salmón</h4>
          <p>arroz blanco / aguacate, zanahoria, mango, cebolla caramelizada, cebollín / salmón / ajonjolí negro</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="menu__pokebowlAlt-signature">
          <img src="/wp-content/uploads/2019/02/poke3.png" class="menu__pokebowlAlt-signatureImg" alt="">
          <h4>seewed tuna salmón</h4>
          <p>jícama / algas marinas, edamames, zanahoria, germen de alfalfa y semillas de girasol / atín y salmón / wasabi dressing</p>
        </div>
      </div>
      <div class="column">
        <div class="menu__pokebowlAlt-signature">
          <img src="/wp-content/uploads/2019/02/poke4.png" class="menu__pokebowlAlt-signatureImg" alt="">
          <h4>spicy tuna salmón</h4>
          <p>pepino / zanahora, aguacate, jícama y edamamaes / atún y salmón / chipotle y ajonjolí</p>
        </div>
      </div>
    </div>

  </div>
</section>
<section id="rolls" class="section menu__rolls">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="menu__rolls-title">
          <h3 class="titleMid">Rollos</h3>
          <img class="menu__rolls-head" src="/wp-content/uploads/2019/02/rolloshead.png" alt="">
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/SalmonRoll.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Salmón Roll <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: queso crema, pepino, aguacate y cangrejo. <br>
          Por fuera: salmón.</p>
        </div>
      </div>
      <div class="column is-4">
        <div class="has-text-right">
          <img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/FiladelfiaRoll.png" alt="">
        </div>
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Filadelfia <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: salmón, queso crema y pepino. <br>
          Por fuera: ajonjolí.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/duplex.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Duplex <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: tampico, aguacate, queso crema y pepino. <br>
          Por fuera: camarón y salmón.</p>
        </div>
      </div>
      <div class="column is-4">
        <div class="has-text-right">
          <img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/VeganFiladelfia.png" alt="">
        </div>
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Vegan Roll <span class="menu__intro-price">114mxn</span></h4>
          <p>Tofu, aguacate, pepino y zanahoria, cubierto de arroz.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/Mangudo.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Mangudo <span class="menu__intro-price">127mxn</span></h4>
          <p>Por dentro: camarón, aguacate y queso crema. <br>
          Por fuera: cubierto con mango (por temporada).</p>
        </div>
      </div>
      <div class="column is-4">
        <div class="has-text-right">
          <img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/Nevada.png" alt="">
        </div>
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Nevada <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: salmón, pepino y aguacate. <br>
          Por fuera: queso crema.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/VanHallen.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Van Hallen <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: camarón, queso crema y aguacate. <br>
          Por fuera: salmon y kanikama.</p>
        </div>
      </div>
      <div class="column is-4">
        <div class="has-text-right">
          <img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/NikkoriMaki.png" alt="">
        </div>
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">NikkoriMaki <span class="menu__intro-price">127mxn</span></h4>
          <p>Por dentro: queso crema, aguacate, pepino y camarón. <br>
          Por fuera: cangrejo.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/Avocado.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Avocado <span class="menu__intro-price">127mxn</span></h4>
          <p>Por dentro: camarón, queso crema y pepino. <br>
          Por fuera: aguacate.</p>
        </div>
      </div>
      <div class="column is-4">
        <div class="has-text-right">
          <img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/Rainbow_Salmon.png" alt="">
        </div>
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Rainbow <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: cangrejo, pepino, queso crema y aguacate. <br>
          Por fuera: seis tipos de mariscos.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/TunaEspecial.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Tuna Especial <span class="menu__intro-price">131mxn</span></h4>
          <p>Por dentro: queso crema y aguacate. <br>
          Por fuera: atún con topping de masago y mayonesa.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Boga.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Boga <span class="menu__intro-price">139mxn</span></h4>
          <p>Por dentro: kanikama, aguacate, pepino y queso crema. <br>
          Por fuera: salmón y serrano, con una gota de spicy sembal.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/RocaRoll.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Roca Roll <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: Camarón capeado y aguacate. <br>
          Por fuera: camarones roca, bañados con salsa de anguila, salsa spicy sembal, cebollín y ajonjolí.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/KoEbiRoll.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Ko Ebi Roll <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: tampico, aguacate y camarón tempura. <br>
          Por fuera: camarón, spicy sembal, salsa de anguila, sriracha y cebollín.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Kurimu.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Kurimu Roll <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: salmón empanizado, tampico y aguacate. <br>
          Por fuera: queso crema bañado con aderezo de fresa y chipotle.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/LomoSalteado.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Lomo Salteado <span class="menu__intro-price">139mxn</span></h4>
          <p>Por dentro: filete de res, aguacate y queso crema. <br>
          Por fuera: aderezo spicy y cebolla frita.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Esparra.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Esparra Roll <span class="menu__intro-price">139mxn</span></h4>
          <p>Por dentro: esparragos y queso crema. <br>
          Por fuera: atún con camote frito, bañado con salsa spicy.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Tobiko.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Tobiko Roll <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: kanikama frito. <br>
          Por fuera: salmón spicy, aguacate y tobikos bañados en salsa wasabi.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/AmazonasTop.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Amazonas Top <span class="menu__intro-price">142mxn</span></h4>
          <p>Por dentro: kanikama y zanahoria capeada con aguacate. <br>
          Por fuera: spicy tuna y masado bañados con salsa spicy.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Dinamita.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Dinamita <span class="menu__intro-price">127mxn</span></h4>
          <p>Por dentro: camaron tempura, aguacate, queso crema y chipotle. <br>
          Por fuera: masago con topping de tampico.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/SpicySalmon.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Spicy Salmón <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: kanikama aguacate y pepino. <br>
          Por fuera: salmón sellado, bañado con salsa de anguila, spicy sambal, y ajonjolí.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/SalmonCrunch.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Salmón Crunch <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: salmón horneado cn cebollín, chile serrano y mayonesa crunch especial. <br>
          Por fuera: aguacate, con topping de salmón horneado con cebollín, chille serrano y mayonesa cruch especial.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/OrangeRoll.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Orange Roll <span class="menu__intro-price">175mxn</span></h4>
          <p>Por dentro: cangrejo, camarón, aguacate y queso crema. <br>
          Por fuera: salmón con topping de ikura.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/OceanRoll.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Ocean Roll <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: mezcla de ostión, salmón, mejillones ahumadas, camarón y aderezo chipotle. <br>
          Por fuera: aguacate, mezcla de ostión, salmón, mejillones ahumados, camarón y aderezo de chipotle.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Raiz.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Raiz <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: camarón empanizado, tampico y queso crema. <br>
          Por fuera: aguacate.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/KaniKrunch.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Kani Krunch <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: tampico y queso crema. <br>
          Por fuera: aguacate, kanikama frito, bañado en spicy sembal y salsa de anguila.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/IpanemaRoll.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Ipanema Roll <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: atún spicy. <br>
          Por fuera: camarón y aguacate, bañado en salsa de anguila.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/SpicyTuna.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Spicy Tuna Roll <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: tampico. <br>
          Por fuera: atún picado con salsa spicy y masago.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/PicoRoll.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Pico Roll <span class="menu__intro-price">139mxn</span></h4>
          <p>Por dentro: tampico y aguacate. <br>
          Por fuera: masago, queso crema y salmóm bañado de aderezo chipotle con mango.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/SalmonSamba.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Salmón Samba <span class="menu__intro-price">131mxn</span></h4>
          <p>Por dentro: atún spicy y aguacate. <br>
          Por fuera: salmón bañado con salsa spicy ponzu.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/UnagiMasago.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Unagui Masago <span class="menu__intro-price">169mxn</span></h4>
          <p>Por dentro: camarón empanizado, queso crema y agaucate. <br>
          Por fuera: anguila, cebollín y masago.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/CosmoPollo.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Cosmo de Pollo <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: pollo frito y queso manchego. <br>
          Por fuera: empanizado por fuera con salsa de anguila.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/CosmoCamaron.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Cosmo Camarón <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: atún spicy y aguacate. <br>
          Por fuera: salmón bañado con salsa spicy ponzu.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Nico.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Nico <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: arroz frito, tampico y aguacate. <br>
          Por fuera: queso crema, camarón empanizado y salsa de anguila.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Tricolor.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Tricolor <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: camarón empanizado y queso crema. <br>
          Por fuera: aguacate empanizado, tampico y salsa anguila.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/CosmoRoll.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Cosmo Roll <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: pulpo camarón, queso crema y anguila. <br>
          Por fuera: Empanizado y bañado en salsa anguila.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/MexicoEspecial.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">México Especial <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: carne de trompo, queso mancheco, aguacate y cebollín. <br>
          Por fuera: empanizado con un toque de nuestra salsa chipotle.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Maiz.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Maíz <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: cangrejo, aguacate, queso crema. <br>
          Por fuera: empanizado con cangrejo y salsa de anguila.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/TopRoll.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Top Roll <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: carne de trompo, filete de res, cebollín, queso manchego y aguacate. <br>
          Por fuera: empanizado con un toque de nuestra salsa chipotle.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Isla.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Isla <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: cangrejo, aguacate, queso crema y camarón. <br>
          Por fuera: capeado con topping de tampico.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/MarcoRoll.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Marco Roll <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: arroz frito, aguacate, queso crema y camarón capeado. <br>
          Por fuera: capeado con salsa de anguila.</p>
        </div>
      </div>
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Chipo.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Chipo <span class="menu__intro-price">129mxn</span></h4>
          <p>Por dentro: cangrejo, aguacate y queso crema. <br>
          Por fuera: capeado con tampico, bañado en chipotle.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/SalmonEspecial.png" alt="">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">Salmón Especial <span class="menu__intro-price">134mxn</span></h4>
          <p>Por dentro: anguila, queso y aguacate. <br>
          Por fuera: salmón horneado con un toque de aderezo.</p>
        </div>
      </div>
      <div class="column is-2">
        <img class="menu__rolls-itemBadge" src="/wp-content/uploads/2019/02/2x1.png" alt="">
      </div>
      <div class="column is-4">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle subtitle">Rollos marcados con punto rojo</h4>
          <p>Lunes a jueves.<br> No aplica sucursal Valle y San Jerónimo</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle subtitle">Combo 129mxn</h4>
          <p>Lunes a jueves.<br> No aplica sucursal Valle y San Jerónimo</p>
        </div>
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">1 Entrada</h4>
          <p>2 Kushiages de manchego. <br>
            2 Kushiages de panela. <br>
          Sopa Miso.</p>
        </div>
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">1 Arroz o Ensalada</h4>
          <p>Arroz gohan. <br>
            Arroz frito. <br>
            Sunomono.</p>
            <br>
            <h4 class="menu__rolls-itemTitle">+$10 Cerveza nacional</h4>
            <h4 class="menu__rolls-itemTitle">+$15 Cerveza internacional</h4>
        </div>
      </div>
      <div class="column is-6 is-offset-2">
        <div class="menu__rolls-item">
          <img src="/wp-content/uploads/2019/02/Combo.png" alt="">
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle">1 Plato fuerte</h4>
          <p><span class="menu__rolls-itemSpan">California - </span>Por dentro: Camarón, aguacate y queso crema. Por fuera: Cubierto con mango. <br>
          <p><span class="menu__rolls-itemSpan">Filadelfia - </span>Por dentro: Salmón, queso crema y pepino. Por fuera: Ajonjolí. <br>
          <p><span class="menu__rolls-itemSpan">Marco Roll - </span>Por dentro: arroz frito, aguacate, queso crema y camarón capeado. Por fuera: capeado con salsa de anguila.<br>
          <p><span class="menu__rolls-itemSpan">Mangudo - </span>Por dentro: camarón, aguacate y queso crema. Por fuera: cubierto con mango (por temporada). <br>
          <p><span class="menu__rolls-itemSpan">Cosmo Camarón - </span>Por dentro: atún spicy y aguacate. Por fuera: salmón bañado con salsa spicy ponzu. <br>
          <p><span class="menu__rolls-itemSpan">Cosmo de pollo - </span>Por dentro: pollo frito y queso manchego. Por fuera: empanizado por fuera con salsa de anguila. <br>
          <p><span class="menu__rolls-itemSpan">Nevada - </span>Por dentro: salmón, pepino y aguacate. Por fuera: queso crema. <br>
          <p><span class="menu__rolls-itemSpan">Nikkori Maki - </span>Por dentro: queso crema, aguacate, pepino y camarón. Por fuera: cangrejo. <br>
          <p><span class="menu__rolls-itemSpan">Maiz Roll - </span>Por dentro: cangrejo, aguacate, queso crema. Por fuera: empanizado con cangrejo y salsa de anguila. <br>
        </div>
      </div>
      <div class="column is-4">
        <div class="menu__rolls-item">
          <h4 class="menu__rolls-itemTitle subtitle">Extras</h4>
          <h4 class="menu__rolls-itemTitle">Chipotle Spicy <span class="menu__intro-price">15mxn</span></h4>
          <h4 class="menu__rolls-itemTitle">Sambal <span class="menu__intro-price">15mxn</span></h4>
          <h4 class="menu__rolls-itemTitle">Tampico <span class="menu__intro-price">15mxn</span></h4>
          <h4 class="menu__rolls-itemTitle">Masago <span class="menu__intro-price">45mxn</span></h4>
          <h4 class="menu__rolls-itemTitle">Srirasha <span class="menu__intro-price">15mxn</span></h4>
          <h4 class="menu__rolls-itemTitle">Queso crema <span class="menu__intro-price">15mxn</span></h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="arrozensaladas" class="section menu__rice">
  <div class="container">
    <div class="columns">
      <div class="column is-5 is-offset-1">
        <div class="menu__rice-title">
          <h3 class="title">Gohan y yakimeshi</h3>
          <img src="/wp-content/uploads/2019/02/Arroz1.png" alt="">
        </div>
      </div>
      <div class="column is-5">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Gohan <span class="menu__intro-price">29mxn / 49mxn</span></h4>
          <p>Arroz blanco al vapor.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Gohan Nikkori <span class="menu__intro-price">47mxn / 78mxn</span></h4>
          <p>Arroz blanco al vapor acompañado de pasta tampico con queso crema y furikake spicy.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Yakimeshi Especial <span class="menu__intro-price">53mxn / 87mxn</span></h4>
          <p>Arroz mixto con champiñones y germinado de soya.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Yashai Yakimeshi Mixto <span class="menu__intro-price">52mxn / 86mxn</span></h4>
          <p>Arroz frito con zanahoria, pimiento morrón, cebolla, huevo, carne, pollo y camarón.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Yakimeshi de mariscos <span class="menu__intro-price">55mxn / 89mxn</span></h4>
          <p>Arroz frito con verduras, salmón, pulpo, camarón y calamar sazonado con ajo y especias.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="subtitle">Yakimeshis</h4>
          <h4 class="menu__intro-itemTitle">Mixto <span class="menu__intro-price">48mxn / 79mxn</span></h4>
          <h4 class="menu__intro-itemTitle">Res <span class="menu__intro-price">46mxn / 75mxn</span></h4>
          <h4 class="menu__intro-itemTitle">Verduras <span class="menu__intro-price">38mxn / 63mxn</span></h4>
          <h4 class="menu__intro-itemTitle">Pollo <span class="menu__intro-price">44mxn / 73mxn</span></h4>
          <h4 class="menu__intro-itemTitle">Camarón <span class="menu__intro-price">46mxn / 75mxn</span></h4>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-1">
        <h4 class="subtitle">Tazones</h4>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Tori Meshi Don <span class="menu__intro-price">114mxn</span></h4>
          <p>Pollo en salsa teriyaki sobre arroz frito o gohan.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Guy Don <span class="menu__intro-price">121mxn</span></h4>
          <p>Filete de res en salsa teriyaki sobre arroz frito o gohan.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Ten Don <span class="menu__intro-price">121mxn</span></h4>
          <p>Camarones y verduras capeadas en salsa agridulce sobre arroz frito o gohan.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Tuna Don <span class="menu__intro-price">176mxn</span></h4>
          <p>Arroz gohan con atún, aguacate, masago, alga y salsa spicy y cebollín.</p>
        </div>
      </div>
      <div class="column is-5">
        <div class="menu__rice-title">
          <img src="/wp-content/uploads/2019/02/Arroz2.png" alt="">
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-1">
        <img src="/wp-content/uploads/2019/02/Arroz3.png" alt="">
      </div>
      <div class="column is-5">
        <div class="menu__rice-title">
          <h3 class="title">Ensaladas</h3>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Sunomono Especial <span class="menu__intro-price">97mxn</span></h4>
          <p>Ensalada de pepino, cangrejo, camarón y pulpo con aderezo de vinagre y furikake.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Ensalada Matsuhiza <span class="menu__intro-price">133mxn</span></h4>
          <p>Lechuca de punta morada, aguacate, hamachi, atún y salmón, combinada con un exquisito aderezo japonés.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Sunomono <span class="menu__intro-price">83mxn</span></h4>
          <p>Ensalada de pepino y cangrejo con aderezo de vinagre y furikake.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Ensalada de Atún Tataki <span class="menu__intro-price">131mxn</span></h4>
          <p>Cortes de atún sellado y montado sobre salsa ponzu con aceite de ajonjolí y una rodaja de ajo macho crujiente.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Sunomono Atómico <span class="menu__intro-price">123mxn</span></h4>
          <p>Ensalada de pepino con salmón, pulpo, hamachi, camarón, ikura, aderezo de vinagre y furikake.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="teppanyaki" class="teppanyakiCover">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-10">
          <div class="teppanyakiCover__img">
            <h3 class="subtitle">
              Visita nuestras mesas<br>
              <span>teppanyaki</span>
            </h3>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="section menu__teppanyaki">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="column is-half is-offset-one-quarter">
          <div class="menu__intro-title">
            <h3 class="title">Teppanyaki</h3>
          </div>
          <img src="/wp-content/uploads/2019/02/teppanyaki.png" alt="">
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Mesa de Teppan</h4>
          <p>* Solo en sucursales con Teppan Table.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Arroz frito o mixto <span class="menu__intro-price">89mxn</span></h4>
          <p>* Solo en sucursales con Teppan Table.</p>
        </div>
      </div>
      <div class="column is-4">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Mixto</h4>
          <p><strong>Pollo + Filete + Camarón</strong></p>
          <p>Platillo <span class="menu__intro-price">189mxn</span></p>
          <p>Mesa de Teppan <span class="menu__intro-price">329mxn</span></p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Camarón</h4>
          <p>Platillo <span class="menu__intro-price">174mxn</span></p>
          <p>Mesa de Teppan <span class="menu__intro-price">299mxn</span></p>
        </div>
      </div>
      <div class="column is-3">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Filete</h4>
          <p>Platillo <span class="menu__intro-price">174mxn</span></p>
          <p>Mesa de Teppan <span class="menu__intro-price">269mxn</span></p>
        </div>
      </div>
      <div class="column is-3">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Huachinango</h4>
          <p>Platillo <span class="menu__intro-price">166mxn</span></p>
          <p>Mesa de Teppan <span class="menu__intro-price">269mxn</span></p>
        </div>
      </div>
      <div class="column is-3">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Pollo</h4>
          <p>Platillo <span class="menu__intro-price">139mxn</span></p>
          <p>Mesa de Teppan <span class="menu__intro-price">182mxn</span></p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Rib-eye</h4>
          <p>Platillo <span class="menu__intro-price">174mxn</span></p>
          <p>Mesa de Teppan <span class="menu__intro-price">269mxn</span></p>
        </div>
      </div>
      <div class="column is-3">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Verduras</h4>
          <p>Platillo <span class="menu__intro-price">99mxn</span></p>
          <p>Mesa de Teppan <span class="menu__intro-price">129mxn</span></p>
        </div>
      </div>
      <div class="column is-3">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Salmón</h4>
          <p>Platillo <span class="menu__intro-price">189mxn</span></p>
          <p>Mesa de Teppan <span class="menu__intro-price">329mxn</span></p>
        </div>
      </div>
      <div class="column is-3">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Pollo almendrado</h4>
          <p>Pollo en tiras servido con zanahoria, cebolla, calabaza y champiñones. Cubierto con una salsa especial de almendra.</p>
          <p>Platillo <span class="menu__intro-price">149mxn</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sashimi" class="section menu__sashimi">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="menu__intro-title">
          <h3 class="title">Sashimi</h3>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <img src="/wp-content/uploads/2019/02/Sashimi-1.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Hamachi <span class="menu__intro-price">279mxn</span></h4>
        </div>
      </div>
      <div class="column is-4">
        <img src="/wp-content/uploads/2019/02/Sashimi-2.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Especial de salmón <span class="menu__intro-price">219mxn</span></h4>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <img src="/wp-content/uploads/2019/02/Sashimi-3.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Especial de atún <span class="menu__intro-price">219mxn</span></h4>
        </div>
      </div>
      <div class="column is-4">
        <img src="/wp-content/uploads/2019/02/Sashimi-4.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Sashimi especial <span class="menu__intro-price">279mxn</span></h4>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Sake <span class="menu__intro-price">167mxn</span></h4>
          <h4 class="menu__intro-itemTitle">Maguro <span class="menu__intro-price">167mxn</span></h4>
        </div>
      </div>
      <div class="column is-4">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Tai <span class="menu__intro-price">167mxn</span></h4>
          <h4 class="menu__intro-itemTitle">Tako <span class="menu__intro-price">167mxn</span></h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="temakisnigiris" class="section menu__temakis">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="menu__intro-title">
          <h3 class="title">Temakis y nigiris</h3>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <img src="/wp-content/uploads/2019/02/Temaki-1.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Ikura <span class="menu__intro-price">69mxn</span></h4>
        </div>
      </div>
      <div class="column is-one-third">
        <img src="/wp-content/uploads/2019/02/Temaki-3.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Unagi <span class="menu__intro-price">69mxn</span></h4>
        </div>
      </div>
      <div class="column is-one-third">
        <img src="/wp-content/uploads/2019/02/Temaki-4.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Hamachi <span class="menu__intro-price">69mxn</span></h4>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <img src="/wp-content/uploads/2019/02/Temaki-4.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Maguro <span class="menu__intro-price">69mxn</span></h4>
        </div>
      </div>
      <div class="column is-one-third">
        <img src="/wp-content/uploads/2019/02/Temaki-5.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Masago <span class="menu__intro-price">69mxn</span></h4>
        </div>
      </div>
      <div class="column is-one-third">
        <img src="/wp-content/uploads/2019/02/Temaki-6.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Kanikama <span class="menu__intro-price">69mxn</span></h4>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <img src="/wp-content/uploads/2019/02/Temaki-7.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Ebi <span class="menu__intro-price">69mxn</span></h4>
        </div>
      </div>
      <div class="column is-one-third">
        <img src="/wp-content/uploads/2019/02/Temaki-8.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Tako <span class="menu__intro-price">69mxn</span></h4>
        </div>
      </div>
      <div class="column is-one-third">
        <img src="/wp-content/uploads/2019/02/Temaki-9.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Sake <span class="menu__intro-price">69mxn</span></h4>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third is-offset-2">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Filadelfia <span class="menu__intro-price">67mxn</span></h4>
          <p>Salmón, queso crema y aguacate.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Dimitri <span class="menu__intro-price">94mxn</span></h4>
          <p>Salmón, tampico, ikura y aguacate.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Tampico <span class="menu__intro-price">51mxn</span></h4>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">California <span class="menu__intro-price">55mxn</span></h4>
          <p>Pasta de cangrejo, pepino y aguacate.</p>
        </div>
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Spicy Tuna <span class="menu__intro-price">66mxn</span></h4>
          <p>Atún spicy con masago envuelto en lechuga y alga.</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/Ebi.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Ebi</h4>
          <p>28mxn</p>
        </div>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/Unagi.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Unagi</h4>
          <p>28mxn</p>
        </div>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/Tako.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Tako</h4>
          <p>28mxn</p>
        </div>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/Hamachi.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Hamachi</h4>
          <p>28mxn</p>
        </div>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/Sake.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Sake</h4>
          <p>28mxn</p>
        </div>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/Tai.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Tai</h4>
          <p>28mxn</p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-2 is-offset-2">
        <img src="/wp-content/uploads/2019/02/Maguro.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Maguro</h4>
          <p>28mxn</p>
        </div>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/Kanikama.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Kanikama</h4>
          <p>28mxn</p>
        </div>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/Masago.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Masago</h4>
          <p>28mxn</p>
        </div>
      </div>
      <div class="column is-2">
        <img src="/wp-content/uploads/2019/02/Ikura.png" alt="">
        <div class="menu__intro-item">
          <h4 class="menu__intro-itemTitle">Ikura</h4>
          <p>28mxn</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sopas" class="section menu__rice">
  <div class="container">
    <div class="columns">
      <div class="column is-5 is-offset-1">
        <div class="menu__rice-title">
          <h3 class="title">Sopas</h3>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Miso Shiru <span class="menu__intro-price">49mxn</span></h4>
            <p>Sopa de frijol de soya con cebollín y tofu.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Miso Shiru Especial <span class="menu__intro-price">74mxn</span></h4>
            <p>Sopa de frijol de soya con pescado y camarón con cebollín y tofu.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Sopa de Salmón <span class="menu__intro-price">99mxn</span></h4>
            <p>Verduras mixtas sazonadas con especias orientales y salmón.</p>
          </div>
          <img src="/wp-content/uploads/2019/02/Sopa-2.png" alt="">
        </div>
      </div>
      <div class="column is-5 is-offset-1" id="pastas">
        <div class="menu__rice-title">
          <h3 class="title">Pastas</h3>
          <img src="/wp-content/uploads/2019/02/Sopa-1.png" alt="">
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Japanese Pan Noodles Mixto <span class="menu__intro-price">224mxn</span></h4>
            <p>Deliciosa pasta japonesa con pollo, res, camarones y deliciosas verduras bañada en salsa spicy.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Japenese Pan Noodles De Mariscos <span class="menu__intro-price">224mxn</span></h4>
            <p>Deliciosa pasta japonesa con calamar, camarón, salmón, pulpo y deliciosas verduras, bañada en salsa spicy.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Yakisoba Mixto <span class="menu__intro-price">159mxn</span></h4>
            <p>Deliciosa pasta ramen con pollo, res, camarón y verduras, baáda en salsa pantai.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Yakisoba de Pollo <span class="menu__intro-price">134mxn</span></h4>
            <h4 class="menu__intro-itemTitle">Yakisoba de Res <span class="menu__intro-price">158mxn</span></h4>
            <h4 class="menu__intro-itemTitle">Yakisoba de Verduras <span class="menu__intro-price">99mxn</span></h4>
            <h4 class="menu__intro-itemTitle">Yakisoba de Camarón <span class="menu__intro-price">158mxn</span></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-1">
        <div class="menu__rice-title" id="vegan">
          <h3 class="title">Vegan</h3>
          <img src="/wp-content/uploads/2019/02/Vegan-1.png" alt="">
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Tiradito <span class="menu__intro-price">134mxn</span></h4>
            <p>Betabel, tofu, arígula y aderezo de mostaza.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Arroz <span class="menu__intro-price">73mxn</span></h4>
            <p>Preparado con calmedras, nuez, calabaza, pimiento y zanahoria.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Arroz edamame <span class="menu__intro-price">73mxn</span></h4>
            <p>Edamames, calabaza, pimiento y zanahoria.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Vegan Roll <span class="menu__intro-price">114mxn</span></h4>
            <p>Tofu, aguacate, pepino y zanahoria, cubierto de arroz.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Teppan Vegano <span class="menu__intro-price">134mxn</span></h4>
            <p>Tofu a la plancha, verduras y germinado de soya.</p>
          </div>
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <div class="menu__rice-title" id="kids">
          <img src="/wp-content/uploads/2019/02/Kids-1.png" alt="">
          <h3 class="title">Kids</h3>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Nuggoris <span class="menu__intro-price">87mxn</span></h4>
            <p>Deliciosa pasta japonesa con pollo, res, camarones y deliciosas verduras bañada en salsa spicy.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Brochetinas <span class="menu__intro-price">87mxn</span></h4>
            <p>3 brochetas de pollo o queso y arroz frito.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Fisho's <span class="menu__intro-price">87mxn</span></h4>
            <p>Filetitos de pescado empanizados y arroz blanco.</p>
          </div>
          <div class="menu__intro-item">
            <h4 class="menu__intro-itemTitle">Sushikids <span class="menu__intro-price">87mxn</span></h4>
            <p>Rollo california o filadelfia y arroz frito o al vapor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="localDelivery">
  <h1 class="title has-text-centered">Ubicación</h1>
  <div class="cardsContainer__item">
    <div class="columns">
      <div class="column is-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14605.683569599496!2d-99.139062!3d23.768022000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe2d0957ed5a5889f!2sNikkori+Sushi!5e0!3m2!1sen!2smx!4v1549395554652" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="column is-6">
        <h5 class="cardsContainer__title"><strong>Nikkori Cd. Victoria</strong></h5>
        <p>Av. Tamaulipas 3825, Plaza FORUM Ciudad Victoria,<br> Montes Altos, 87025 Cd Victoria, Tamps.</p>
        <p><i class="fas fa-phone"></i> 01 834 316 5400</p>
        <p><i class="far fa-clock"></i> 1–11PM</p>
      </div>
    </div>
  </div>
</section>
