.menu {
  &__category-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__category-card {
    background: #fff;
    color: #000;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(241, 60, 63, 0.5);
    margin: 0 .5rem;
    margin-top: 3rem;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;

    &:hover {
      box-shadow: 0px 0px 40px rgba(241, 60, 63, 0.5);
      transition: all 0.3s ease;
      transform: translateY(-20px);
    }
  }

  &__intro {
    &-title {
      text-align: center;
    }
    &-price {
      float: right;
      font-weight: 700;
      font-size: 1rem;
    }
    &-img {
      width: 100%;
    }
    &-item {
      margin: 2rem 0;
      padding: 0 1rem;
    }
    &-itemTitle {
      font-size: 1.3rem;
      margin-bottom: .5rem;
    }
  }

  &__pokebowl {
    background: #eb6851;
    &-container {
      color: #FDE7DD;
      text-align: center;
    }
    &-logo {
      margin-bottom: 2rem;
    }
    &-baseImg {
      padding: 1rem;
    }
  }

  &__pokebowlAlt {
    background: #FDE7DD;
    &-title {
      margin: 3rem 0;
      span {
        color: #FBC456;
        font-size: 2rem;
      }
    }
    &-container {
      color: #eb6851;
      text-align: center;
    }
    &-logo {
      margin-bottom: 2rem;
    }
    &-baseImg {
      padding: 1rem;
    }
    &-protein {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-proteinImg {
      width: 150px;
    }
    &-divider {
      height: 4px;
      background: #eb6851;
      width: 80%;
      margin: 0 auto;
    }
    &-signature {
      h4 {
        font-weight: bold;
      }
    }
    &-signatureImg {
      margin-bottom: -3rem;
    }
    &-signatureIcon {
      display: inline-block;
      height: 25px;
      margin-bottom: 1rem;
    }
  }

  &__pokebowlThird {
    background: #FBC456;
    &-container {
      color: #eb6851;
      text-align: center;
    }
    &-toppingBox {
      border: 1px solid #eb6851;
      font-weight: 700;
      padding: 2rem;
      margin-bottom: 2rem;
    }
    &-size {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-img {
      margin-left: 1rem;
      max-height: 60px;
    }
  }

  &__rolls {
    background: #000;
    color: #fff;
    &-title {
      text-align: center;
    }
    &-item {
      margin-bottom: 3rem;
    }
    &-price {
      float: right;
      font-weight: 700;
      font-size: 1rem;
    }
    &-itemImg {
      height: 150px;
      margin-bottom: 1rem;
    }
    &-itemImgAlt {
      height: 200px;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
    &-itemBadge {
      max-width: 150px;
      width: 100%;
      margin-bottom: 1rem;
    }
    &-itemSpan {
      color: #F13C3F;
    }
  }

  &__temakis {
    &-img {
      height: 200px;
      display: flex;
      align-items: center;
    }
    &-price {
      margin-left: 1rem;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

.menu__pokebowlAlt-signature {
max-width: 450px;
margin: 0 auto;
}
.menu__pokebowlAlt-titleSignature {
display: inline-block;
}
.menu__pokebowlAlt-titleSignaturePokes {
float: right;
}
.menu__intro-itemTitle {
display: flex;
align-items: baseline;
justify-content: space-between;
}
.menu__pokebowlAlt-signatureIcon {
margin: 1rem 0;
}
.localDelivery__first,
.localDelivery__second {
padding: 5rem 3rem;
margin: 0;
min-height: unset;
}
.menu__pokebowl-logo {
width: 200px;
}
.menu__rolls-itemImgAlt {
display: block;
}
.menu__rolls-bigRoll {
padding: 1.5rem;
}
.menu__intro-item {
padding: 0 !important;
}
.menu__intro-itemTemaki {
margin-top: 0;
margin-bottom: 0;
}
.menu__intro-itemTemakiTitle {
justify-content: center;
}
.menu__pokebowlAlt-signaturePokesImg {
max-height: 85px;
}

.menu__rolls-redDot {
color: #F13C3F;
margin-right: .5rem;
}
.menu__rolls-redText {
color: #F13C3F;
}
.menu__temakis-img {
justify-content: center;
z-index: -9;
overflow: hidden;
}
.menu__nigiris-img {
height: 170px;
}
.menu__smallText {
font-size: .8rem;
}
.menu__riceSize {
height: 35px;
}
.titleWhite {
color: #fff;
}
.menu__pokebowlAlt-signaturePokeTitle {
font-size: 1.5rem;
}
.menu__pokebowlAlt-proteinImg {
max-width: 120px;
}

@media screen and (max-width: 768px) {
  .menu__category-grid {
    width: 100%;
  }
  .signaturePoke-logo {
  margin-top: -3rem;
  height: 130px;
  }
  .menu__temakis-img {
  justify-content: center;
  }
  .title-min {
  font-size: 2.6rem;
  }
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #F13C3F url("/wp-content/uploads/2019/02/cd-top-arrow.png") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #F13C3F;
  opacity: 1;
}

.modal {
  &__subtitle {
    color: #fff;
  }
}

.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
.bts-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.bts-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.bts-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: $primary-color;
  border-radius: none;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: 5px solid #fff;
  border-radius: 5px;
}
.bts-popup-container img {
  padding: 20px 0 0 0;
}
.bts-popup-container p {
	color: white;
  padding: 10px 40px;
}
.bts-popup-container .bts-popup-button {
  padding: 5px 25px;
  border: 2px solid white;
	display: inline-block;
  margin-bottom: 10px;
}

.bts-popup-container a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.bts-popup-container .bts-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.bts-popup-container .bts-popup-close::before, .bts-popup-container .bts-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 16px;
  height: 3px;
  background-color: white;
}
.bts-popup-container .bts-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.bts-popup-container .bts-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 6px;
  top: 12px;
}
.is-visible .bts-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .bts-popup-container {
    margin: 8em auto;
  }
}
