$primary-color: #F13C3F;

body {
  font-family: 'Rubik', sans-serif;
}

.landing-wrapper {
  background: #000;
}

.hero-land {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%), url("/wp-content/uploads/2019/02/hero-land.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  &__title {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin: 3rem 0;
    text-shadow: 0px 0px 7px rgba(0,0,0,.5);
  }

  &__subtitle {
    color: #fff;
    margin: 1rem 0;
    text-shadow: 0px 0px 7px rgba(0,0,0,.5);
  }

  &__logo {
    height: 40px;
    margin-bottom: 3rem;
  }

  &__icons {
    max-width: 350px;
  }

  &__japIcon {
    display: block;
    width: 60px;
    position: absolute;
    left: 3.2rem;
    z-index: 1;
  }

  &__japIcon2 {
    display: block;
    width: 60px;
    position: absolute;
    right: 3.2rem;
    z-index: 1;
  }

  &__japIcon3 {
    width: 190px;
    position: absolute;
  }
}

.hero-land2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%), url("/wp-content/uploads/2019/04/DSC_4885_2.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.pokeBowlCover {
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 275px;
}

.hero-land3 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%), url("/wp-content/uploads/2019/04/teppanCover.jpeg");
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero-land4 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%), url("/wp-content/uploads/2019/04/DSC_4768.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}
.navbar-item__alt {
  color: #fff;
  &:hover {
    background: #fff;
    color: $primary-color !important;
  }
}

.navbar-middle {
  justify-content: center;
  margin: 0 auto;
}

.navbar-brand {
padding-left: 2rem;
}

.is-home {
  box-shadow: none !important;
}

.buttons {
  margin-bottom: 0 !important;
  padding-right: 1.5rem;
  width: 112px;
}

.is-absolute {
  position: absolute !important;
}

.intro {
  padding: 5rem 0;

  &__rolls {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 68.12%), url("/wp-content/uploads/2019/04/poke-plate2.jpeg");
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: linear-gradient(360deg, #F13C3F 0%, rgba(241, 60, 63, 0) 100%), url("/wp-content/uploads/2019/04/poke-plate2.jpeg");
      background-size: cover;
      background-position: center;
      color: #fff;
      box-shadow: 0px 0px 45px rgba(255, 255, 255, 0.7);
      transition: all 0.3s ease;
      transform: translateY(-30px);
    }
    &-title {
      text-shadow: 0px 0px 5px rgba(0,0,0,.5);
      font-size: 2.5rem;
    }
  }

  &__pokeBowl {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 68.12%), url("/wp-content/uploads/2019/04/DSC_5089.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    height: 235px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &:hover {
      background: linear-gradient(360deg, #F13C3F 0%, rgba(241, 60, 63, 0) 100%), url("/wp-content/uploads/2019/04/DSC_5089.jpg");
      background-size: cover;
      background-position: center;
      color: #fff;
      box-shadow: 0px 0px 45px rgba(255, 255, 255, 0.7);
      transition: all 0.3s ease;
      transform: translateY(-15px);
    }
    &-logo {
      width: 60px;
    }
    &-title {
      text-shadow: 0px 0px 5px rgba(0,0,0,.5);
      font-size: 2.5rem;
    }
  }

  &__catering {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 68.12%), url("/wp-content/uploads/2019/04/sushiBox.jpeg");
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 235px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &:hover {
      background: linear-gradient(360deg, #F13C3F 0%, rgba(241, 60, 63, 0) 100%), url("/wp-content/uploads/2019/04/sushiBox.jpeg");
      background-size: cover;
      background-position: center;
      color: #fff;
      box-shadow: 0px 0px 45px rgba(255, 255, 255, 0.7);
      transition: all 0.3s ease;
      transform: translateY(-15px);
    }
    &-title {
      text-shadow: 0px 0px 5px rgba(0,0,0,.5);
      font-size: 2.5rem;
    }
  }

  &__sashimi {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 68.12%), url("/wp-content/uploads/2019/03/sashimiCard.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 242px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &:hover {
      background: linear-gradient(360deg, #F13C3F 0%, rgba(241, 60, 63, 0) 100%), url("/wp-content/uploads/2019/03/sashimiCard.png");
      background-size: cover;
      background-position: center;
      color: #fff;
      box-shadow: 0px 0px 45px rgba(255, 255, 255, 0.7);
      transition: all 0.3s ease;
      transform: translateY(-15px);
    }
    &-title {
      text-shadow: 0px 0px 5px rgba(0,0,0,.5);
      font-size: 2.5rem;
    }
  }

  &__storyText {
    padding: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
  }

  &__coverImg {
    background: url("/wp-content/uploads/2019/02/intro-cover-ppl.png");
    background-position: center;
    background-size: cover;
    min-height: 300px;
  }
}

.teppanyakiCont {
  height: 500px;
  display: flex;
  padding-left: 10%;

  &__box {
    background: #F13C3F;
    border-radius: 5px;
    padding: 2rem;
    width: 35%;
    margin: 3rem -3rem 3rem 3rem;
    z-index: 1;
    height: 60%;
    &-title {
      color: #fff;
      margin-bottom: 1rem;
    }
    &-subtitle {
      color: #fff;
      margin-bottom: 2rem;
    }
    &-img {
      height: 150px;
      position: absolute;
      left: 5%;
      padding: 1rem;
      margin-top: 3rem;
    }
  }
  &__cover {
    background-position: center;
    background-size: cover;
    width: 55%;
  }
}

.button-std {
  background: #000;
  width: 200px;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

.button-red {
  background: $primary-color;
  width: 200px;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

.button-poke {
  background: #FDE7DD;
  width: 200px;
  padding: 1rem;
  color: #EB6851;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

.button-alt {
  background: #fff;
  width: 200px;
  padding: 1rem;
  color: $primary-color;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

.button-teppan {
  display: block;
}

.localDelivery {
  margin-top: 3rem;
  &__first {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/wp-content/uploads/2019/02/maps.png");
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 3rem;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &__second {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/wp-content/uploads/2019/03/deliveryBg.png");
    background-position: center;
    background-size: cover;
    padding: 3rem;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &-buttons {
      width: 80%;
      max-width: 500px;
      margin: 0 auto;
      margin-top: 3rem;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    }
  }

  &__third {
    background: url("/wp-content/uploads/2019/03/deliveryBg.png");
    background-position: center;
    background-size: cover;
    padding: 3rem;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    &-title {
      color: #000;
    }
  }

  &__delivery-logos {
    height: 100px;
    width: auto;
    margin-top: 2rem;
  }

  &__columns {
    margin: 0 !important;
  }
}

.instagramCont {
  margin-top: 3rem;
  margin-bottom: 3rem;
  &__title {
    color: #fff;
  }

  &__subtitle {
    color: #fff;
    font-size: 2rem;
  }

  &__icon {
    height: 120px;
  }
}

.map-land {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.cateringContainer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/wp-content/uploads/2019/02/catering-cover.jpg");
  background-position: center;
  background-size: cover;

  &__title {
    color: #fff;
    margin-bottom: 3rem;
  }

  &__subtitle {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.cateringContainerCover {
  background: url("/wp-content/uploads/2019/04/cateringCoverInfo.png");
  background-size: contain;

background-position: center;

background-repeat: no-repeat;
}

.locationContainer {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/wp-content/uploads/2019/02/maps.png");
  background-position: center;
  background-size: cover;

  &__title {
    color: #fff;
    margin-bottom: 3rem;
  }

  &__subtitle {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.footer {
  background: $primary-color;

  &-logo {
    margin: 1rem 0;
    width: 200px;
  }

  &-logoAlt {
    margin: 1rem 0;
    width: 100px;
  }

  &-text {
    color: #fff;
  }

  &-text-link {
    color: #fff;
    font-weight: bolder;
    margin-top: 1rem;
    display: block;
  }
}

.social-icon {
  color: #fff;
  font-size: 1.5rem;
  padding: .5rem;
}

.social-icon__alt {
  color: #000;
  font-size: 1.5rem;
  padding: .5rem;
}

 .maps,
 #map {
   height: 100vh;
 }

 .cardsContainer {
   height: 100vh;
   overflow: scroll;
   padding-top: 1rem;
   &__title {
     font-size: 1.5rem;
   }
   &__phone {
     font-size: 1.3rem;
   }
   &__item {
     padding: 2rem;
     background: #fff;
     box-shadow: 0 0 10px rgba(0,0,0,.2);
     width: 90%;
     margin: 2rem auto;
   }
   &__itemLink {
     color: #000;
     &:hover {
       color: $primary-color;
     }
   }
   &__localTitle {
     padding: 1rem 2rem;
   }
 }

 .is-locations {
   background: $primary-color;
 }

 .navbar-locations {
   padding: 0 1rem;
 }

.menu-cover {
  background: url("/wp-content/uploads/2019/02/menu-cover.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
}

.menu-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 500px;
  padding: 2.5rem;

  &__title {
    color: #000;
  }

  &__text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.catering__intro {
  margin: 3rem 0;
}

.catering__card {
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.15);

  &-img {
    width: 200px;
    margin: 1rem;
  }

  &-list {
    max-width: 230px;
    margin: 0 auto;
    list-style: disc;
    text-align: left;
  }
}

.biz-cover {
  background: url("/wp-content/uploads/2019/02/biz-cover.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
}

.biz-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 500px;
  padding: 2.5rem;

  &__title {
    color: #000;
  }

  &__text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.biz-column {
  text-align: center;
  &-img {
    height: 150px;
    margin-bottom: 2rem;
  }
}

.franquicia-cover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/wp-content/uploads/2019/02/franq-cover.png");
  background-position: center;
  background-size: cover;
  padding: 7rem 0;
  margin-top: 3rem;

  &__title {
    color: #fff;
    font-weight: 700;
  }

  &__text {
    color: #fff;
  }

  &__box {
    background: $primary-color;
    padding: 2rem;
  }
}

.teppanyakiCover__img {
  background: url("/wp-content/uploads/2019/02/teppan.png");
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 10rem 0;
  text-align: center;
  margin: 6rem 0;

  span {
    font-size: 3rem;
  }
}

.cardsContainer__localTitle {
text-align: center;
}
.cardsContainer__itemAddress {
color: #000;
display: block;
}
.cardsContainer__itemPhone {
display: block;
}
.navbar-locations {
margin: 1rem 0;
}

@media screen and (max-width: 768px) {
  .hero-land {
    margin: 0 auto;
    &__japIcon,
    &__japIcon2 {
      display: none;
    }
  }
  .intro {
    padding: 0;
    &__storyText {
      margin-top: 0;
    }
    &__rolls {
      height: 235px;
      margin: 1.5rem;
    }
    &__pokeBowl,
    &__catering,
    &__sashimi {
      margin: 1.5rem;
    }
  }
  .menu__category-card {
    width: 100%;
  }
  .teppanyakiCont {
    padding-left: 0;
    flex-direction: column;
    height: auto;
    &__box {
      padding: 2rem;
      width: auto;
      margin: 1.5rem;
      z-index: 1;
      height: auto;
      margin-bottom: -3rem;
      margin-top: 2rem;
    }
  }

  .teppanyakiCont__box-img {
    height: auto;
    position: relative;
    margin-top: 3rem;
    max-width: 220px;
  }

  .teppanyakiCont__cover {
    background-position: center;
    background-size: cover;
    width: 100%;
  }

  .cardsContainer {
    overflow: auto;
    height: auto;
  }

  .maps {
    display: none;
  }

  .localDelivery {
    margin-top: 0;
  }

  .hero-land__icons {
    max-width: 285px;
  }
}

.contact-form-text {
  margin-bottom: 2rem;
}

.contact-form {
  margin: 4rem 0;
}

input,
select {
  appearance: none;
  border: 3px solid #000;
  border-radius: 3px;
  padding: 1rem;
  width: 300px;
  margin-top: .5rem;
}

select {
  background-image: url("/wp-content/uploads/2019/02/cd-top-arrow_black2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
  background-origin: content-box;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .9;
    color: $primary-color;
}

@import "menu";
