<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag "bulma","site" %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag "site" %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
  </head>
  <body>
    <%= yield %>
    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
            <a href="https://www.sindelantal.mx/"><img class="footer-logoAlt" src="/wp-content/uploads/2019/03/sindelantal-blank.png" alt=""></a>
            <a href="https://www.ubereats.com/en-MX/"><img class="footer-logoAlt" src="/wp-content/uploads/2019/03/ubereats-blank.png" alt=""></a>
          </div>
          <div class="column has-text-centered">
            <img class="footer-logo" src="/wp-content/uploads/2019/02/nikkori-logo_w.svg" alt=""> <br>
            <p class="footer-text">© 2019 Nikkori. Todos los derechos reservados.</p>
            <a href="https://www.instagram.com/nikkori_sushi"><i class="social-icon fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/nikkori.mx"><i class="social-icon fab fa-facebook-f"></i></a>
          </div>
          <div class="column has-text-centered">
            <img class="footer-logoAlt" src="/wp-content/uploads/2019/03/coca-image.png" alt="">
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {

        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        if ($navbarBurgers.length > 0) {

          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

              const target = el.dataset.target;
              const $target = document.getElementById(target);

              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }
      });
    </script>
  </body>
</html>
