---
title: Nikkori - Catering
---
<nav class="navbar is-home is-white is-fixed-top is-absolute" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">
        <img src="/wp-content/uploads/2019/02/nikkori-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a href="/menu.html" class="navbar-item__alt navbar-item">
          Menú
        </a>

        <a href="/sucursales.html" class="navbar-item__alt navbar-item">
          Sucursales
        </a>

        <a href="/catering.html" class="navbar-item__alt navbar-item">
          Catering
        </a>

        <a href="/negocio.html" class="navbar-item__alt navbar-item">
          Franquicia
        </a>
      </div>

      <div class="navbar-end">

        <div class="navbar-item">
          <div class="buttons">
            <a href="https://www.instagram.com/nikkori_sushi"><i class="social-icon__alt fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/nikkori.mx"><i class="social-icon__alt fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>

    </div>
</nav>
<section class="hero cateringContainerCover is-fullheight">
  <div class="hero-body">

  </div>
</section>
<section>
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3 has-text-centered">
        <p class="subtitle catering__intro">Catering de comida oriental de la más alta calidad, para más información llámanos: 8356 5800</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="catering__card">
          <p><strong>Opción 1</strong> — $228 P/P</p>
          <img class="catering__card-img" src="/wp-content/uploads/2019/02/catering-1.png" alt="">
          <ul class="catering__card-list">
            <li><strong>1 Entremés a Escoger:</strong></li>
            <li>Kushiagues de Manchego o Panela </li>
            <li>Rollos de Jícama</li>
            <li><strong>Yakimeshi con Verduras o Goha</strong></li>
            <li><strong>Sunomono de Cangrejo</strong></li>
            <li><strong>Variedad de Rollos</strong></li>
            <li><strong>Teppanyaki de Pollo </strong></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="catering__card">
          <p><strong>Opción 2</strong> — $249 P/P</p>
          <img class="catering__card-img" src="/wp-content/uploads/2019/02/catering-2.png" alt="">
          <ul class="catering__card-list">
            <li><strong>1 Entremés a Escoger:</strong></li>
            <li>Kushiagues de Manchego o Panela </li>
            <li>Rollos de Jícama</li>
            <li>Tostaditas Nikkori</li>
            <li><strong>Yakimeshi al gusto</strong></li>
            <li><strong>Sunomono de Cangrejo</strong></li>
            <li><strong>Variedad de Rollos</strong></li>
            <li><strong>Plato Fuerte: </strong></li>
            <li><strong>Teppanyaki de Pollo</strong></li>
            <li><strong>Yakisoba de Pollo</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="catering__card">
          <p><strong>Opción 3</strong> — $268 P/P</p><div class="mailmunch-forms-in-post-middle" style="display: none !important;"></div>
          <img class="catering__card-img" src="/wp-content/uploads/2019/02/catering-3.png" alt="">
          <ul class="catering__card-list">
            <li><strong>2 Entremés a Escoger:</strong></li>
            <li>Kushiagues de Manchego o Panela </li>
            <li>Rollos de Jícama</li>
            <li>Tacos de Jícama</li>
            <li>Egg Roll</li>
            <li><strong>Yakimeshi al gusto</strong></li>
            <li><strong>Sunomono de Cangrejo</strong></li>
            <li><strong>Variedad de Rollos</strong></li>
            <li><strong>Plato Fuerte: </strong></li>
            <li><strong>Teppanyaki de Pollo</strong></li>
            <li><strong>Japanesse nodle de Pollo</strong></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="catering__card">
          <p><strong>Opción 4</strong> — $291 P/P</p>
          <img class="catering__card-img" src="/wp-content/uploads/2019/02/catering-5.png" alt="">
          <ul class="catering__card-list">
            <li><strong>3 Entremés a Escoger:</strong></li>
            <li>Kushiagues de Manchego o Panela </li>
            <li>Rollos de Jícama</li>
            <li>Tacos de Jícama</li>
            <li>Egg Roll</li>
            <li><strong>Yakimeshi al gusto</strong></li>
            <li><strong>Sunomono de Cangrejo</strong></li>
            <li><strong>Variedad de Rollos</strong></li>
            <li><strong>Plato Fuerte: </strong></li>
            <li><strong>Teppanyaki de Pollo</strong></li>
            <li><strong>Japanesse Nodle de Pollo</strong></li>
            <li><strong>Yakisoba de Pollo</strong></li>
          </ul>
        </div>
      </div>
    </div>
<div class="column">
        <div class="catering__card">
          <p><strong>Opción 5</strong> — $329 P/P</p>
          <img class="catering__card-img" src="/wp-content/uploads/2019/02/catering-1.png" alt="">
          <ul class="catering__card-list">
            <li><strong>2 Entremés a Escoger:</strong></li>
            <li>Mini Tuna Tower</li>
            <li>Mini Edamames</li>
            <li>Mini Camarones Roca</li>
            <li>Mini Copa de Atún</li>
            <li><strong>Yakimeshi al gusto</strong></li>
            <li><strong>Sunomono de Cangrejo</strong></li>
            <li><strong>Variedad de Rollos</strong></li>
            <li><strong>Plato Fuerte: </strong></li>
            <li><strong>Teppanyaki de Pollo</strong></li>
            <li><strong>Japanesse Nodle de Pollo</strong></li>
          </ul>
        </div>
      </div>
  </div>
</section>
