---
title: Nikkori - Japanese Cuisine
---
<nav class="navbar is-home is-white is-fixed-top is-absolute" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">
        <img src="/wp-content/uploads/2019/02/nikkori-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a href="/menu.html" class="navbar-item__alt navbar-item">
          Menú
        </a>

        <a href="/sucursales.html" class="navbar-item__alt navbar-item">
          Sucursales
        </a>

        <a href="/catering.html" class="navbar-item__alt navbar-item">
          Catering
        </a>

        <a href="/negocio.html" class="navbar-item__alt navbar-item">
          Franquicia
        </a>
      </div>

      <div class="navbar-end">

        <div class="navbar-item">
          <div class="buttons">
            <a href="https://www.instagram.com/nikkori_sushi"><i class="social-icon__alt fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/nikkori.mx"><i class="social-icon__alt fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>

    </div>
</nav>
<section class="hero-slider">
  <div class="">
    <section class="hero is-fullheight hero-land">
      <div class="hero-body">
        <div class="container">
          <h1 class="title hero-land__title">
            Cocina<br>japonesa
          </h1>
          <h3 class="subtitle hero-land__subtitle">sushi | poke bowl | teppanyaki</h3>
          <a class="button-red" href="/menu">Ver menú</a>
        </div>
      </div>
    </section>
  </div>
  <div class="">
    <section class="hero is-fullheight hero-land2">
    <div class="hero-body">
    <div class="container">
      <img class="pokeBowlCover" src="/wp-content/uploads/2019/02/pokebowl-logo.png" alt="" />
      <a class="button-poke" href="/menu">Ver Poke Bowl</a>
    </div>
    </div>
    </section>
  </div>
  <div class="">
    <section class="hero is-fullheight hero-land3">
    <div class="hero-body">
    <div class="container">
      <h3 class="subtitle hero-land__subtitle">Visita nuestras mesas de</h3>
      <h1 class="title hero-land__title">
        Teppanyaki
      </h1>
    <a class="button-red" href="menu#teppanyaki">Ver platillos</a>

    </div>
    </div>
    </section>
  </div>
  <div class="">
    <section class="hero is-fullheight hero-land4">
    <div class="hero-body">
    <div class="container">
      <h1 class="title hero-land__title">
        Cocina<br>japonesa
      </h1>
      <h3 class="subtitle hero-land__subtitle">sopas | sashimis | nigiris</h3>
      <a class="button-red" href="/menu">Ver menú</a>

    </div>
    </div>
    </section>
  </div>
</section>
<section class="intro">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <a href="menu#pokebowl" class="intro__rolls">
            <h3 class="intro__rolls-title">Poke Bowl</h3>
          </a>
        </div>
        <div class="column is-6">
          <div class="columns">
            <div class="column">
              <a href="menu#teppanyaki" class="intro__pokeBowl">
                <h3 class="intro__pokeBowl-title">Teppanyaki</h3>
              </a>
            </div>
            <div class="column">
              <a href="menu#rolls" class="intro__catering">
                <h3 class="intro__rolls-title">Rollos</h3>
              </a>
            </div>
          </div>
          <a href="menu#sashimi" class="intro__sashimi">
            <h3 class="intro__sashimi-title">Sashimi</h3>
          </a>
        </div>
      </div>
    </div>
</section>

<script type="text/javascript">
var controller = new ScrollMagic.Controller();

var scene = new ScrollMagic.Scene({
        offset: 0,
        duration: 650
    })
.setPin("#my-sticky-element")

var scene2 = new ScrollMagic.Scene({
        offset: 0,
        duration: 650
    })
.setPin("#my-sticky-element2")

controller.addScene([
  scene,
  scene2
]);
</script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.hero-slider').slick({
      autoplay: true,
      autoplaySpeed: 4000,
      arrows: false,
      dots: true
    });
  });
</script>
