---
title: Menú - Nikkori
---
<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index">
        <img src="/wp-content/uploads/2019/02/nikkori-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">

      <div class="navbar-end">
      <a href="/menu" class="navbar-item__alt navbar-item">
        Menú
      </a>

      <a href="/sucursales" class="navbar-item__alt navbar-item">
        Sucursales
      </a>

      <a href="/catering" class="navbar-item__alt navbar-item">
        Catering
      </a>

      <a href="/negocio" class="navbar-item__alt navbar-item">
        Negocio
      </a>
        <div class="navbar-item">
          <div class="buttons">
            <a href="https://www.instagram.com/nikkori_sushi"><i class="social-icon__alt fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/nikkori.mx"><i class="social-icon__alt fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>

    </div>
</nav>
<section class="hero cateringContainer is-medium">
<div class="hero-body">
<div class="container has-text-centered">
<h1 class="title cateringContainer__title">Menú</h1>
<section class="menu__category-grid">

<a href="#entradas" class="menu__category-card">
  <article>
    <h3>Entradas</h3>
  </article>
</a>
<a href="#pokebowl" class="menu__category-card">
  <article>
    <h3>Poke Bowl</h3>
  </article>
</a>
<a href="#rolls" class="menu__category-card">
  <article>
    <h3>Rollos</h3>
  </article>
</a>
<a href="#arrozensaladas" class="menu__category-card">
  <article>
    <h3>Arroz y ensaladas</h3>
  </article>
</a>
<a href="#teppanyaki" class="menu__category-card">
  <article>
    <h3>Teppanyaki</h3>
  </article>
</a>
<a href="#sashimi" class="menu__category-card">
  <article>
    <h3>Sashimi</h3>
  </article>
</a>
<a href="#temakisnigiris" class="menu__category-card">
  <article>
    <h3>Temakis y nigiris</h3>
  </article>
</a>
<a href="#sopaspastas" class="menu__category-card">
  <article>
    <h3>Sopas y pastas</h3>
  </article>
</a>
<a href="#vegan" class="menu__category-card">
  <article>
    <h3>Vegan</h3>
  </article>
</a>
<a href="#kids" class="menu__category-card">
  <article>
    <h3>Kids</h3>
  </article>
</a>

</section>
</div>
</div>
</section>
<section id="entradas" class="section menu__intro">
<div class="container">
<div class="columns">
<div class="column is-half is-offset-one-quarter">
<div class="menu__intro-title">
<h3 class="title">Entradas</h3>
</div>
</div>
</div>
<div class="columns">
<div class="column is-offset-1 is-4">
<div class="menu__intro-item"><img class="menu__intro-img" src="/wp-content/uploads/2019/02/edemames.png" alt=""></div>
</div>
<div class="column is-offset-1 is-4">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Edamames</h4>
<p>Vaina de frijol de soya. Al vapor o Preparados.</p>
<h4 class="menu__intro-item">Al vapor<span class="menu__intro-price">83mxn</span></h4>
<h4 class="menu__intro-item">Preparados<span class="menu__intro-price">86mxn</span></h4>
</div>
</div>
</div>
<div class="columns">
<div class="column is-offset-1 is-4">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Egg Roll (2 piezas) <span class="menu__intro-price">72mxn</span></h4>
<p>Relleno de surimi, queso crema y chile chipotle.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Takkori <span class="menu__intro-price">139mxn</span></h4>
<p>3 tacos en tortilla de alga, arroz de sushi, aguacate, salsa spicy, cebollín y salmón o atún spicy.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Sweet Tower <span class="menu__intro-price">169mxn</span></h4>
<p>Trozos de mango, manzana y salmón marinado con aceite de oliva, ralladura de lima, jengibre, yozu, soya, sal, pimienta e ikura acompañada de lechuga mixta, pepino y vinagreta de mostaza japonesa.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Kuchis De Salmón <span class="menu__intro-price">114mxn</span></h4>
<p>Dedos de salmón con queso crema, empanizados.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Ebi Furai <span class="menu__intro-price">118mxn</span></h4>
<p>Camarones rellenos de queso crema, empanizados.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Baby Squid <span class="menu__intro-price">72mxn</span></h4>
<p>Calamar relleno de pasta de cangrejo con salsa de anguila.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Kushiages <span class="menu__intro-price">84mxn</span></h4>
<p>6 brochetas empanizadas de queso manchego o panela.</p>
</div>
</div>
<div class="column is-offset-1 is-4">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Tostadas De Atún Zensai <span class="menu__intro-price">112mxn</span></h4>
<p>Tostada Won Ton con atún marinado en salsa spicy, aguacate y cebollín.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Tacos Sin Culpa <span class="menu__intro-price">108mxn</span></h4>
<p>Orden de 4 tacos de camarón capeado, atún o salmón, pico de gallo, salsa spicy sambal, sriracha y salsa de anguila servidos en tortilla de jícama.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Camarones Bomba <span class="menu__intro-price">149mxn</span></h4>
<p>Camarón capeado envuelto en queso manchego, servido sobre una cama de hilos de papa frita.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Taco Kaiten <span class="menu__intro-price">43mxn</span></h4>
<p>Exquisito taco de camarón gratinado con queso manchego servido en tortilla de maíz o harina, bañado en nuestra salsa sambal, acompañado de guacamole, tomate y cebolla.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Yakitori <span class="menu__intro-price">92mxn</span></h4>
<p>3 brochetas de pollo bañadas con salsa teriyaki, cebolla y morrón.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Tostadas Nikkori <span class="menu__intro-price">112mxn</span></h4>
<p>Tostaditas de atún, aguacate, cebolla morada y cilantro montado sobre spicy sambal, sal en grano y togarashi.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-offset-1 is-4">
<div class="menu__intro-item"><img class="menu__intro-img" src="/wp-content/uploads/2019/02/rocknroll-shrimps.png" alt=""><br>
<h4 class="menu__intro-itemTitle">Rock And Roll Shrimps <span class="menu__intro-price">149mxn</span></h4>
<p>Camarones roca bañados en salsa spicy y cebollín.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Tempuras</h4>
<h4 class="menu__intro-itemTitle">Verduras <span class="menu__intro-price">89mxn</span></h4>
<p>Zanahoria, calabaza, champiñones, coliflor, brócoli y cebolla.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Camarón <span class="menu__intro-price">177mxn</span></h4>
<p>Zanahoria, calabaza, champiñones, coliflor, brócoli, cebolla y 6 camarones.</p>
</div>
</div>
<div class="column is-offset-1 is-4">
<div class="menu__intro-item"><img class="menu__intro-img" src="/wp-content/uploads/2019/02/tuna-tower.png" alt=""><br>
<h4 class="menu__intro-itemTitle">Tuna tower <span class="menu__intro-price">185mxn</span></h4>
<p>Arroz de sushi, kanikama y atún spicy, aguacate, furikake, aderezo de wasabi y tobikos.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Tempura mixta <span class="menu__intro-price">129mxn</span></h4>
<p>Zanahoria, calabaza, champiñones, coliflor, brócoli, cebolla y 2 camarones.</p>
</div>
</div>
</div>
</div>
</section>
<section id="pokebowl" class="section menu__pokebowl">
<div class="container menu__pokebowl-container">
<div class="columns">
<div class="column is-half is-offset-one-quarter">
<div class="menu__pokebowl-title"><img class="menu__pokebowl-logo" src="/wp-content/uploads/2019/02/pokebowl-logo.png" alt=""><br>
<h3 class="titleMid">01. escoge 1 base</h3>
</div>
</div>
</div>
<div class="columns">
<div class="column is-offset-2 is-2"><img class="menu__pokebowl-baseImg" src="/wp-content/uploads/2019/02/pb-jicama2.png" alt="">
<p class="">jícama</p>
</div>
<div class="column is-2"><img class="menu__pokebowl-baseImg" src="/wp-content/uploads/2019/02/pb-pepino2.png" alt="">
<p class="">pepino</p>
</div>
<div class="column is-2"><img class="menu__pokebowl-baseImg" src="/wp-content/uploads/2019/02/pb-afrito2.png" alt="">
<p class="">arroz frito</p>
</div>
<div class="column is-2"><img class="menu__pokebowl-baseImg" src="/wp-content/uploads/2019/02/pb-aintegral2.png" alt="">
<p class="">arroz integral</p>
</div>
</div>
<div class="columns">
<div class="column is-offset-3 is-2"><img class="menu__pokebowl-baseImg" src="/wp-content/uploads/2019/02/pb-ablanco2.png" alt="">
<p class="">arroz blanco</p>
</div>
<div class="column is-2"><img class="menu__pokebowl-baseImg" src="/wp-content/uploads/2019/02/pb-noodles2.png" alt="">
<p class="">noodles</p>
</div>
<div class="column is-2"><img class="menu__pokebowl-baseImg" src="/wp-content/uploads/2019/02/pb-quinoa2.png" alt="">
<p class="">quinoa</p>
</div>
</div>
</div>
</section>
<section class="section menu__pokebowlAlt">
<div class="container menu__pokebowlAlt-container">
<div class="columns">
<div class="column is-6">
<div class="menu__pokebowlAlt-title">
<h3 class="titleMid">02. agrega 2 proteínas</h3>
</div>
<div class="columns">
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-tsurimi.png" alt="">
<p class="">surimi</p>
</div>
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-cangrejo.png" alt="">
<p class="">cangrejo</p>
</div>
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-camaron.png" alt="">
<p class="">camarón</p>
</div>
</div>
<div class="columns">
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-atun-spicy.png" alt="">
<p class="">atún spicy</p>
</div>
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-salmon.png" alt="">
<p class="">salmón premium</p>
</div>
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-atun.png" alt="">
<p class="">atún</p>
</div>
</div>
<div class="columns">
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-tofu.png" alt="">
<p class="">tofu</p>
</div>
</div>
</div>
<div class="column is-6">
<div class="menu__pokebowlAlt-title">
<h3 class="titleMid">03. elige 2 aderezos</h3>
</div>
<div class="columns">
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-spicy.png" alt="">
<p class="">spicy sambal</p>
</div>
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-wasabi.png" alt="">
<p class="">wasabi dressing</p>
</div>
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-ponzu.png" alt="">
<p class="">ponzu</p>
</div>
</div>
<div class="columns">
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-soya.png" alt="">
<p class="">soya</p>
</div>
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-chipotle.png" alt="">
<p class="">chipotle</p>
</div>
<div class="column"><img class="menu__pokebowlAlt-proteinImg" src="/wp-content/uploads/2019/02/pb-vegas2.png" alt="">
<p class="">las vegas</p>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="section menu__pokebowlThird">
<div class="container menu__pokebowlThird-container">
<div class="columns">
<div class="column is-half is-offset-one-quarter">
<div class="menu__pokebowlAlt-title">
<h3 class="titleMid">04. selecciona 5 toppings y mezcla</h3>
</div>
</div>
</div>
<div class="columns">
<div class="column is-8 is-offset-2"><img style="margin-top: -2rem;" src="/wp-content/uploads/2019/02/pokeToppings.png" alt=""></div>
</div>
<div class="columns">
<div class="column is-2 is-offset-4">
<div class="menu__pokebowlThird-size">
<h3 class="subtitle">$109</h3>
<p><img class="menu__pokebowlThird-img" src="/wp-content/uploads/2019/02/smallPoke.png" alt=""></p>
</div>
</div>
<div class="column is-2">
<div class="menu__pokebowlThird-size">
<h3 class="subtitle">$179</h3>
<p><img class="menu__pokebowlThird-img" src="/wp-content/uploads/2019/02/bigPoke.png" alt=""></p>
</div>
</div>
</div>
</div>
</section>
<section class="section menu__pokebowlAlt">
<div class="container menu__pokebowlAlt-container">
<div class="columns">
<div class="column is-4 is-offset-2">
<div class="menu__pokebowlAlt-title has-text-left"><img class="menu__pokebowlAlt-signaturePokesImg" src="/wp-content/uploads/2019/02/signaturePokes-logo.png" alt=""></div>
</div>
<div class="column is-2 is-offset-2 has-text-right"><img class="signaturePoke-logo" src="/wp-content/uploads/2019/02/signature-logo.png" alt=""></div>
</div>
<div class="columns">
<div class="column">
<div class="menu__pokebowlAlt-signature"><img class="menu__pokebowlAlt-signatureImg" src="/wp-content/uploads/2019/02/poke1.png" alt=""><img class="menu__pokebowlAlt-signatureIcon" src="/wp-content/uploads/2019/02/V.png" alt=""><br>
<h4 class="menu__pokebowlAlt-signaturePokeTitle">chipotle crab &amp; shrimp</h4>
<p>arroz frito / pepino, aguacate, edamames, zanahoria y queso crema / camarón y tampico / ajonjolí negro y spicy sambal.</p>
</div>
</div>
<div class="column">
<div class="menu__pokebowlAlt-signature"><img class="menu__pokebowlAlt-signatureImg" src="/wp-content/uploads/2019/02/poke2.png" alt=""><img class="menu__pokebowlAlt-signatureIcon" src="/wp-content/uploads/2019/02/V.png" alt=""><br>
<h4 class="menu__pokebowlAlt-signaturePokeTitle">mango avocado salmón</h4>
<p>arroz blanco / aguacate, zanahoria, mango, cebolla caramelizada, cebollín / salmón / ajonjolí negro.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column">
<div class="menu__pokebowlAlt-signature"><img class="menu__pokebowlAlt-signatureImg" src="/wp-content/uploads/2019/02/poke3.png" alt=""><img class="menu__pokebowlAlt-signatureIcon" src="/wp-content/uploads/2019/02/V.png" alt=""><br>
<h4 class="menu__pokebowlAlt-signaturePokeTitle">seewed tuna salmón</h4>
<p>jícama / algas marinas, edamames, zanahoria, germen de alfalfa y semillas de girasol / atún y salmón / wasabi dressing</p>
</div>
</div>
<div class="column">
<div class="menu__pokebowlAlt-signature"><img class="menu__pokebowlAlt-signatureImg" src="/wp-content/uploads/2019/02/poke4.png" alt=""><img class="menu__pokebowlAlt-signatureIcon" src="/wp-content/uploads/2019/02/V.png" alt=""><br>
<h4 class="menu__pokebowlAlt-signaturePokeTitle">spicy tuna salmón</h4>
<p>pepino / zanahoria, aguacate, jícama y edamames / atún y salmón / chipotle y ajonjolí</p>
</div>
</div>
</div>
</div>
</section>
<section id="rolls" class="section menu__rolls">
<div class="container">
<div class="columns">
<div class="column is-8 is-offset-2">
<div class="menu__rolls-title">
<h3 class="titleMid">Rollos</h3>
<p><img class="menu__rolls-head" src="/wp-content/uploads/2019/02/rolloshead.png" alt=""></p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2"><img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/SalmonRoll.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Salmón Roll <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Queso crema, pepino, aguacate y cangrejo.<br>Por fuera: Salmón.</p>
</div>
</div>
<div class="column is-4">
<div class="has-text-right"><img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/FiladelfiaRoll.png" alt=""></div>
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Filadelfia <span class="menu__intro-price">114mxn</span></h4>
<p>Por dentro: Salmón, queso crema y pepino.<br>Por fuera: Ajonjolí.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2"><img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/duplex.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Duplex <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Tampico, aguacate, queso crema y pepino.<br>Por fuera: Camarón y salmón.</p>
</div>
</div>
<div class="column is-4">
<div class="has-text-right"><img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/VeganFiladelfia.png" alt=""></div>
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Vegan Roll <span class="menu__intro-price">114mxn</span></h4>
<p>Tofu, aguacate, pepino y zanahoria, cubierto de arroz.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2"><img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/Mangudo.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Mangudo <span class="menu__intro-price">127mxn</span></h4>
<p>Por dentro: Camarón, aguacate y queso crema.<br>Por fuera: Cubierto con mango. (Por temporada)</p>
</div>
</div>
<div class="column is-4">
<div class="has-text-right"><img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/Nevada.png" alt=""></div>
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Nevada <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Salmón, pepino y aguacate.<br>Por fuera: Queso crema.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2"><img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/VanHallen.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Van Hallen <span class="menu__intro-price">136mxn</span></h4>
<p>Por dentro: Camarón, queso crema y aguacate.<br>Por fuera: Salmón y kanikama.</p>
</div>
</div>
<div class="column is-4">
<div class="has-text-right"><img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/NikkoriMaki.png" alt=""></div>
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>NikkoriMaki <span class="menu__intro-price">127mxn</span></h4>
<p>Por dentro: Queso crema, aguacate, pepino y camarón.<br>Por fuera: Cangrejo.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2"><img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/Avocado.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Avocado <span class="menu__intro-price">127mxn</span></h4>
<p>Por dentro: Camarón, queso crema y pepino.<br>Por fuera: Aguacate.</p>
</div>
</div>
<div class="column is-4">
<div class="has-text-right"><img class="menu__rolls-itemImg" src="/wp-content/uploads/2019/02/Rainbow_Salmon.png" alt=""></div>
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Rainbow <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Cangrejo, pepino, queso crema y aguacate.<br>Por fuera: Seis tipos de mariscos.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/TunaEspecial.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Tuna Especial <span class="menu__intro-price">131mxn</span></h4>
<p>Por dentro: Queso crema y aguacate.<br>Por fuera: Atún con topping de masago y mayonesa.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Boga.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Boga <span class="menu__intro-price">139mxn</span></h4>
<p>Por dentro: Kanikama, aguacate, pepino y queso crema.<br>Por fuera: Salmón y serrano, con una gota de spicy sambal.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/RocaRoll.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Roca Roll <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Camarón capeado y aguacate.<br>Por fuera: Camarones roca, bañados con salsa de anguila, salsa spicy sambal, cebollín y ajonjolí.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/KoEbiRoll.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Ko Ebi Roll <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Tampico, aguacate y camarón tempura.<br>Por fuera: Camarón, spicy sambal, salsa de anguila, sriracha y cebollín.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Kurimu.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Kurimu Roll <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Salmón empanizado, tampico y aguacate.<br>Por fuera: Queso crema bañado con aderezo de fresa y chipotle.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/LomoSalteado.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Lomo Salteado <span class="menu__intro-price">139mxn</span></h4>
<p>Por dentro: Filete de res, aguacate y queso crema.<br>Por fuera: Aderezo spicy y cebolla frita.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Esparra.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Esparra Roll <span class="menu__intro-price">139mxn</span></h4>
<p>Por dentro: Espárragos y queso crema.<br>Por fuera: Atún con camote frito, bañado con salsa spicy.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Tobiko.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Tobiko Roll <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Kanikama frito.<br>Por fuera: Salmón spicy, aguacate y tobikos bañados en salsa wasabi.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Dinamita.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Dinamita <span class="menu__intro-price">127mxn</span></h4>
<p>Por dentro: Camarón tempura, aguacate, queso crema y chipotle.<br>Por fuera: Masago con topping de tampico.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/AmazonasTop.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Amazonas Top <span class="menu__intro-price">142mxn</span></h4>
<p>Por dentro: Kanikama y zanahoria capeada con aguacate.<br>Por fuera: Spicy tuna y masago bañados con salsa spicy ponzu.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/SpicySalmon.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Spicy Salmón <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Kanikama aguacate y pepino.<br>Por fuera: Salmón sellado, bañado con salsa de anguila, spicy sambal, y ajonjolí negro.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/SalmonCrunch.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Salmón Crunch <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Salmón horneado con cebollín, chile serrano y mayonesa crunch especial.<br>Por fuera: Aguacate, con topping de salmón horneado con cebollín, chile serrano y mayonesa crunch especial.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/OrangeRoll.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Orange Roll <span class="menu__intro-price">175mxn</span></h4>
<p>Por dentro: Cangrejo, camarón, aguacate y queso crema.<br>Por fuera: Salmón con topping de ikura.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/OceanRoll.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Ocean Roll <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Mezcla de ostión, salmón, mejillones ahumados, camarón y aderezo chipotle.<br>Por fuera: Aguacate, mezcla de ostión, salmón, mejillones ahumados, camarón y aderezo de chipotle.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Raiz.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Roiz <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Camarón empanizado, tampico y queso crema.<br>Por fuera: Aguacate.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/KaniKrunch.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Kani Krunch <span class="menu__intro-price">139mxn</span></h4>
<p>Por dentro: Tampico y queso crema.<br>Por fuera: Aguacate, kanikama frito, bañado en spicy sambal y salsa de anguila.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/IpanemaRoll.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Ipanema Roll <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Atún spicy.<br>Por fuera: Camarón y aguacate, bañado en salsa de anguila.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/SpicyTuna.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Spicy Tuna Roll <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Tampico.<br>Por fuera: Atún picado con salsa spicy y masago.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/PicoRoll.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Pico Roll <span class="menu__intro-price">139mxn</span></h4>
<p>Por dentro: Tampico y aguacate.<br>Por fuera: Masago, queso crema y salmón bañado de aderezo chipotle con mango.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/SalmonSamba.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Salmón Samba <span class="menu__intro-price">131mxn</span></h4>
<p>Por dentro: Atún spicy y aguacate.<br>Por fuera: Salmón bañado con salsa spicy ponzu.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/UnagiMasago.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Unagui Masago <span class="menu__intro-price">169mxn</span></h4>
<p>Por dentro: Camarón empanizado, queso crema y aguacate.<br>Por fuera: Anguila, cebollín y masago.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/CosmoPollo.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Cosmo de Pollo <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Pollo frito y queso manchego.<br>Por fuera: Empanizado por fuera con salsa de anguila.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/CosmoCamaron.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Cosmo Camarón <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Camarón, queso crema y aguacate.<br>Por fuera: Empanizado, bañado en salsa anguila.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Nico.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Nico <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Arroz frito, tampico y aguacate.<br>Por fuera: Queso crema, camarón empanizado y salsa de anguila.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Tricolor.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Tricolor <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Camarón empanizado y queso crema.<br>Por fuera: Aguacate empanizado, tampico y salsa anguila.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/CosmoRoll.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Cosmo Roll <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Pulpo, camarón, queso crema y anguila.<br>Por fuera: Empanizado y bañado en salsa anguila.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4"><img class="menu__rolls-itemImgAlt menu__rolls-bigRoll" src="/wp-content/uploads/2019/02/MexicoEspecial.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>México Especial <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Carne de trompo, queso manchego, aguacate y cebollín.<br>Por fuera: Empanizado con un toque de nuestra salsa chipotle.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Maiz-2.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Maiz<span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Cangrejo, aguacate, queso crema.<br>Por fuera: Empanizado con cangrejo y salsa de anguila.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt menu__rolls-bigRoll" src="/wp-content/uploads/2019/02/TopRoll.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Top Roll <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Carne de trompo, filete de res, cebollín, queso manchego y aguacate.<br>Por fuera: Empanizado con un toque de nuestra salsa chipotle.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Isla.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Isla <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Cangrejo, aguacate, queso crema y camarón.<br>Por fuera: Capeado con topping de tampico.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/MarcoRoll.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Marco Roll <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Arroz frito, aguacate, queso crema y camarón capeado.<br>Por fuera: Capeado con salsa de anguila.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/Chipo.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle"><i class="fas fa-circle menu__rolls-redDot"></i>Chipo <span class="menu__intro-price">129mxn</span></h4>
<p>Por dentro: Cangrejo, aguacate y queso crema.<br>Por fuera: Capeado con tampico, bañado en chipotle.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/NikkoriDynamite.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Nikkori Dynamite <span class="menu__intro-price">134mxn</span></h4>
<p>Por dentro: Queso crema, aguacate y kanikama frito.<br>Por fuera: Camarón con una combinación de kanikama crujiente, chipotle y mayonesa, bañado con salsa de anguila.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/FireDragon.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Fire Dragon <span class="menu__intro-price">134mxn</span></h4>
<p>Por dentro: Queso crema y kanikama.<br>Por fuera: Aguacate gratinado con una combinación de camarón y sambal.</p>
</div>
</div>
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/SamaRoll.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Sama Roll <span class="menu__intro-price">134mxn</span></h4>
<p>Por dentro: Surimi y aguacate.<br>Por fuera: Salmón horneado con mezcla de queso manchego, pulpo y camarón, bañado con salsa de anguila.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4"><img class="menu__rolls-itemImgAlt" src="/wp-content/uploads/2019/02/SalmonEspecial.png" alt="">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">Salmón Especial <span class="menu__intro-price">134mxn</span></h4>
<p>Por dentro: Anguila, queso y aguacate.<br>Por fuera: Salmón horneado con un toque de aderezo.</p>
</div>
</div>
<div class="column is-2"><img class="menu__rolls-itemBadge" src="/wp-content/uploads/2019/02/2x1.png" alt=""></div>
<div class="column is-4">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle subtitle">Rollos marcados con punto rojo</h4>
<p>DE LUNES A JUEVESNO APLICA EN <span class="menu__rolls-redText">SAN JERÓNIMO Y VALLE</span></p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle subtitle">Combo 129 mxn</h4>
<p>DE LUNES A JUEVESNO APLICA EN <span class="menu__rolls-redText">SAN JERÓNIMO Y VALLE</span></p>
</div>
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">1 Entrada</h4>
<p class="">2 Kushiages de manchego</p>
<p class="">2 Kushiages de panela</p>
<p class="">Sopa Miso</p>
</div>
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">1 Arroz o Ensalada</h4>
<p class="menu__smallText"><i>*Cambio a yakimeshi pollo, carne, camarón o mixto por $25</i></p>
<p class="">Arroz gohan</p>
<p class="">Arroz frito</p>
<p class="">Sunomono</p>
<h4 class="menu__rolls-itemTitle">+$10 Cerveza Nacional ó</h4>
<h4 class="menu__rolls-itemTitle">+$15 Cerveza Internacional</h4>
<p class="menu__smallText"><i>*Prohibido la venta de bebidas alcohólicas a menores de edad. El abuso del consumo de este producto, es nocivo para la salud.</i></p>
</div>
</div>
<div class="column is-6 is-offset-2">
<div class="menu__rolls-item"><img src="/wp-content/uploads/2019/02/Combo.png" alt=""></div>
</div>
</div>
<div class="columns">
<div class="column is-8">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle">1 Plato fuerte</h4>
<p class=""><span class="menu__rolls-itemSpan">California - </span>Por dentro: Pasta de cangrejo, pepino y aguacate.<br>Por fuera: Ajonjolí.</p>
<p class=""><span class="menu__rolls-itemSpan">Filadelfia - </span>Por dentro: Salmón, queso crema y pepino.<br>Por fuera: Ajonjolí.</p>
<p class=""><span class="menu__rolls-itemSpan">Marco Roll - </span>Por dentro: Arroz frito, aguacate, queso crema y camarón capeado.<br>Por fuera: Capeado con salsa de anguila.</p>
<p class=""><span class="menu__rolls-itemSpan">Mangudo - </span>Por dentro: Camarón, aguacate y queso crema.<br>Por fuera: Cubierto con mango -Por temporada-.</p>
<p class=""><span class="menu__rolls-itemSpan">Cosmo Camarón - </span>Por dentro: Camarón, queso crema y aguacate.<br>Por fuera: Empanizado, bañado en salsa de anguila.</p>
<p class=""><span class="menu__rolls-itemSpan">Cosmo de Pollo - </span>Por dentro: Pollo frito y queso manchego.<br>Por fuera: Empanizado por fuera con salsa de anguila.</p>
<p class=""><span class="menu__rolls-itemSpan">Nevada - </span>Por dentro: Salmón, pepino y aguacate.<br>Por fuera: Queso crema.</p>
<p class=""><span class="menu__rolls-itemSpan">Nikkori Maki - </span>Por dentro: Queso crema, aguacate, pepino y camarón.<br>Por fuera: Cangrejo.</p>
<p class=""><span class="menu__rolls-itemSpan">Maiz Roll - </span>Por dentro: Cangrejo, aguacate, queso crema.<br>Por fuera: Empanizado con cangrejo y salsa de anguila.</p>
<p class="menu__smallText"><i>*Productos sujetos a disponibilidad. Nuestras promociones no aplican en sucursales San Jerónimo y Valle. Los precios ya incluyen IVA. Combos 2x1 válido de lunes a jueves. No válido en días festivos ni con otras promociones. Lunes todos los rollos a $65 excepto en sucursales San Jerónimo y Valle, no aplica para llevar ni para domicilio, a menos que sean 3 rollos. Agregar o cambiar ingredientes en platillos, podría tener un costo extra. Consumir carnes, aves, pescados, mariscos o huevo crudo puede aumentar su riesgo de contraer enfermedades transmitidas por alimentos.</i></p>
</div>
</div>
<div class="column is-4">
<div class="menu__rolls-item">
<h4 class="menu__rolls-itemTitle subtitle">Extras</h4>
<h4 class="menu__rolls-itemTitle">Chipotle Spicy <span class="menu__intro-price">15mxn</span></h4>
<h4 class="menu__rolls-itemTitle">Sambal <span class="menu__intro-price">15mxn</span></h4>
<h4 class="menu__rolls-itemTitle">Tampico <span class="menu__intro-price">25mxn</span></h4>
<h4 class="menu__rolls-itemTitle">Masago <span class="menu__intro-price">45mxn</span></h4>
<h4 class="menu__rolls-itemTitle">Sriracha <span class="menu__intro-price">15mxn</span></h4>
<h4 class="menu__rolls-itemTitle">Queso crema <span class="menu__intro-price">15mxn</span></h4>
<h4 class="menu__rolls-itemTitle">Aguacate <span class="menu__intro-price">15mxn</span></h4>
<h4 class="menu__rolls-itemTitle">Ikura<span class="menu__intro-price">59mxn</span></h4>
</div>
</div>
</div>
</div>
</section>
<section id="arrozensaladas" class="section menu__rice">
<div class="container">
<div class="columns">
<div class="column is-5 is-offset-1">
<div class="menu__rice-title">
<h3 class="title">Gohan &amp; Yakimeshi</h3>
<p><img src="/wp-content/uploads/2019/02/Arroz1.png" alt=""></p>
</div>
</div>
<div class="column is-5">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle titleWhite">— <span class="menu__intro-price"><img class="menu__riceSize" src="/wp-content/uploads/2019/02/riceSize1.png" alt=""></span></h4>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Gohan <span class="menu__intro-price">29mxn / 49mxn</span></h4>
<p>Arroz blanco al vapor.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Gohan Nikkori <span class="menu__intro-price">47mxn / 78mxn</span></h4>
<p>Arroz al vapor acompañado de pasta tampico con queso crema y furikake spicy.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Yakimeshi Especial <span class="menu__intro-price">53mxn / 87mxn</span></h4>
<p>Arroz mixto con champiñones y germinado de soya.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Yashai Yakimeshi Mixto <span class="menu__intro-price">52mxn / 86mxn</span></h4>
<p>Arroz frito con zanahoria, pimiento morrón, cebolla, huevo, carne, pollo y camarón.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Yakimeshi de mariscos <span class="menu__intro-price">55mxn / 89mxn</span></h4>
<p>Arroz frito con verduras, salmón, pulpo, camarón y calamar sazonado con ajo y especias.</p>
</div>
<div class="menu__intro-item">
<h4 class="subtitle">Yakimeshis</h4>
<h4 class="menu__intro-itemTitle titleWhite">— <span class="menu__intro-price"><img class="menu__riceSize" src="/wp-content/uploads/2019/02/riceSize1.png" alt=""></span></h4>
<h4 class="menu__intro-itemTitle">Mixto <span class="menu__intro-price">48mxn / 79mxn</span></h4>
<h4 class="menu__intro-itemTitle">Res <span class="menu__intro-price">46mxn / 75mxn</span></h4>
<h4 class="menu__intro-itemTitle">Verduras <span class="menu__intro-price">38mxn / 63mxn</span></h4>
<h4 class="menu__intro-itemTitle">Pollo <span class="menu__intro-price">44mxn / 73mxn</span></h4>
<h4 class="menu__intro-itemTitle">Camarón <span class="menu__intro-price">46mxn / 75mxn</span></h4>
</div>
</div>
</div>
<div class="columns">
<div class="column is-5 is-offset-1">
<h4 class="subtitle">Tazones</h4>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Tori Meshi Don <span class="menu__intro-price">114mxn</span></h4>
<p>Pollo en salsa teriyaki sobre arroz frito o gohan.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Gyu Don <span class="menu__intro-price">121mxn</span></h4>
<p>Filete de res en salsa teriyaki sobre arroz frito o gohan.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Ten Don <span class="menu__intro-price">121mxn</span></h4>
<p>Camarones y verduras capeadas en salsa agridulce sobre arroz frito o gohan.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Tuna Don <span class="menu__intro-price">176mxn</span></h4>
<p>Arroz gohan con atún, aguacate, masago, alga y salsa spicy y cebollín.</p>
</div>
</div>
<div class="column is-5">
<div class="menu__rice-title"><img src="/wp-content/uploads/2019/02/Arroz2.png" alt=""></div>
</div>
</div>
<div class="columns">
<div class="column is-5 is-offset-1"><img src="/wp-content/uploads/2019/02/Arroz3.png" alt=""></div>
<div class="column is-5">
<div class="menu__rice-title">
<h3 class="title">Ensaladas</h3>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Sunomono Especial <span class="menu__intro-price">97mxn</span></h4>
<p>Ensalada de pepino, cangrejo, camarón y pulpo con aderezo de vinagre y furikake.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Ensalada Matsuhiza <span class="menu__intro-price">133mxn</span></h4>
<p>Lechuga de punta morada, aguacate, hamachi, atún y salmón, combinada con un exquisito aderezo japonés.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Sunomono <span class="menu__intro-price">83mxn</span></h4>
<p>Ensalada de pepino y cangrejo con aderezo de vinagre y furikake.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Ensalada de Atún Tataki <span class="menu__intro-price">131mxn</span></h4>
<p>Cortes de atún sellado y montado sobre salsa ponzu con aceite de ajonjolí y una rodaja de ajo macho crujiente.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Sunomono Atómico <span class="menu__intro-price">123mxn</span></h4>
<p>Ensalada de pepino con salmón, pulpo, hamachi, camarón, ikura, aderezo de vinagre y furikake.</p>
</div>
</div>
</div>
</div>
</section>
<section id="sopaspastas" class="section menu__rice">
<div class="container">
<div class="columns">
<div class="column is-5 is-offset-1">
<div class="menu__rice-title">
<h3 class="title">Sopas</h3>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Miso Shiru <span class="menu__intro-price">49mxn</span></h4>
<p>Sopa de frijol de soya con cebollín y tofu.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Miso Shiru Especial <span class="menu__intro-price">74mxn</span></h4>
<p>Sopa de frijol de soya con pescado y camarón con cebollín y tofu.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Sopa de Salmón <span class="menu__intro-price">99mxn</span></h4>
<p>Verduras mixtas sazonadas con especias orientales y salmón.</p>
</div>
<p><img src="/wp-content/uploads/2019/02/Sopa-2.png" alt=""></p>
</div>
</div>
<div id="pastas" class="column is-5 is-offset-1">
<div class="menu__rice-title">
<h3 class="title">Pastas</h3>
<p><img src="/wp-content/uploads/2019/02/Sopa-1.png" alt=""></p>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Japanese Pan Noodles Mixto <span class="menu__intro-price">224mxn</span></h4>
<p>Deliciosa pasta japonesa con pollo, res, camarones y deliciosas verduras bañada en salsa spicy.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Japanese Pan Noodles De Mariscos <span class="menu__intro-price">224mxn</span></h4>
<p>Deliciosa pasta japonesa con calamar, camarón, salmón, pulpo y deliciosas verduras, bañada en salsa spicy.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Yakisoba Mixto <span class="menu__intro-price">159mxn</span></h4>
<p>Deliciosa pasta ramen con pollo, res, camarón y verduras, bañada en salsa pantai.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Yakisoba de Pollo <span class="menu__intro-price">134mxn</span></h4>
<h4 class="menu__intro-itemTitle">Yakisoba de Res <span class="menu__intro-price">158mxn</span></h4>
<h4 class="menu__intro-itemTitle">Yakisoba de Camarón <span class="menu__intro-price">158mxn</span></h4>
<h4 class="menu__intro-itemTitle">Yakisoba de Verduras <span class="menu__intro-price">99mxn</span></h4>
</div>
</div>
</div>
</div>
<div class="columns">
<div class="column is-5 is-offset-1">
<div id="vegan" class="menu__rice-title">
<h3 class="title">Vegan</h3>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Tiradito <span class="menu__intro-price">134mxn</span></h4>
<p>Betabel, tofu, arúgula y aderezo de mostaza.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Arroz <span class="menu__intro-price">73mxn</span></h4>
<p>Preparado con almendras, nuez, calabaza, pimiento y zanahoria.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Arroz Edamame <span class="menu__intro-price">73mxn</span></h4>
<p>Edamames, calabaza, pimiento y zanahoria.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Vegan Roll <span class="menu__intro-price">114mxn</span></h4>
<p>Tofu, aguacate, pepino y zanahoria, cubierto de arroz.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Teppan Vegano <span class="menu__intro-price">134mxn</span></h4>
<p>-Tofu a la plancha-Verduras-Germinado de soya</p>
</div>
</div>
<p><img src="/wp-content/uploads/2019/02/Vegan-1.png" alt=""></p>
</div>
<div class="column is-5 is-offset-1">
<div id="kids" class="menu__rice-title"><img src="/wp-content/uploads/2019/02/Kids-1.png" alt=""><br>
<h3 class="title">Kids</h3>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Nuggoris <span class="menu__intro-price">87mxn</span></h4>
<p>Nuggets de pollo y papas de la francesa.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Brochetinas <span class="menu__intro-price">87mxn</span></h4>
<p>3 brochetas de pollo o queso y arroz frito.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Fisho's <span class="menu__intro-price">87mxn</span></h4>
<p>Filetitos de pescado empanizados y arroz blanco.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Sushikids <span class="menu__intro-price">87mxn</span></h4>
<p>Rollo california o filadelfia y arroz frito o al vapor.</p>
</div>
</div>
</div>
</div>
</div>
</section>
<section id="sashimi" class="section menu__sashimi">
<div class="container">
<div class="columns">
<div class="column is-half is-offset-one-quarter">
<div class="menu__intro-title">
<h3 class="title">Sashimis</h3>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2"><img src="/wp-content/uploads/2019/02/Sashimi-1.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle">Hamachi <span class="menu__intro-price">279mxn</span></h4>
</div>
</div>
<div class="column is-4"><img src="/wp-content/uploads/2019/02/Sashimi-2.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle">Especial De Salmón <span class="menu__intro-price">219mxn</span></h4>
<p>Servido en salsa ponzu yuzu con rodajas de chile serrano.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2"><img src="/wp-content/uploads/2019/02/Sashimi-3.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle">Especial De Atún <span class="menu__intro-price">219mxn</span></h4>
<p>Servido en salsa ponzu yuzu con rodajas de chile serrano.</p>
</div>
</div>
<div class="column is-4"><img src="/wp-content/uploads/2019/02/Sashimi-4.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle">Sashimi Especial <span class="menu__intro-price">279mxn</span></h4>
<p>Atún, salmón, hamachi, tai y pulpo servido en salsa ponzu yuzu con rodajas de chile serrano.</p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Sake <span class="menu__intro-price">167mxn</span></h4>
<h4 class="menu__intro-itemTitle">Maguro <span class="menu__intro-price">167mxn</span></h4>
</div>
</div>
<div class="column is-4">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Tai <span class="menu__intro-price">167mxn</span></h4>
<h4 class="menu__intro-itemTitle">Tako <span class="menu__intro-price">167mxn</span></h4>
</div>
</div>
</div>
</div>
</section>
<section id="temakisnigiris" class="section menu__temakis">
<div class="container">
<div class="columns">
<div class="column is-half is-offset-one-quarter">
<div class="menu__intro-title">
<h3 class="title">Temakis &amp; Nigiris</h3>
</div>
</div>
</div>
<div class="columns has-text-centered">
<div class="column is-one-third"><img src="/wp-content/uploads/2019/02/Temaki-13.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Ikura <span class="menu__temakis-price">69mxn</span></h4>
</div>
</div>
<div class="column is-one-third"><img src="/wp-content/uploads/2019/02/Temaki-12.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Unagi <span class="menu__temakis-price">67mxn</span></h4>
</div>
</div>
<div class="column is-one-third"><img src="/wp-content/uploads/2019/02/Temaki-11.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Hamachi <span class="menu__temakis-price">68mxn</span></h4>
</div>
</div>
</div>
<div class="columns has-text-centered">
<div class="column is-one-third"><img src="/wp-content/uploads/2019/02/Temaki-14.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Maguro <span class="menu__temakis-price">57mxn</span></h4>
</div>
</div>
<div class="column is-one-third"><img src="/wp-content/uploads/2019/02/Temaki-15.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Masago <span class="menu__temakis-price">53mxn</span></h4>
</div>
</div>
<div class="column is-one-third"><img src="/wp-content/uploads/2019/02/Temaki-16.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Kanikama <span class="menu__temakis-price">51mxn</span></h4>
</div>
</div>
</div>
<div class="columns has-text-centered">
<div class="column is-one-third"><img src="/wp-content/uploads/2019/02/Temaki-17.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Ebi <span class="menu__temakis-price">51mxn</span></h4>
</div>
</div>
<div class="column is-one-third"><img src="/wp-content/uploads/2019/02/Temaki-18.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Tako <span class="menu__temakis-price">51mxn</span></h4>
</div>
</div>
<div class="column is-one-third"><img src="/wp-content/uploads/2019/02/Temaki-19.png" alt="">
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Sake <span class="menu__temakis-price">53mxn</span></h4>
</div>
</div>
</div>
<div class="columns">
<div class="column is-one-third is-offset-2">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Filadelfia <span class="menu__intro-price">67mxn</span></h4>
<p>Salmón, queso crema y aguacate.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Dimitri <span class="menu__intro-price">94mxn</span></h4>
<p>Salmón, tampico, ikura y aguacate.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Tampico <span class="menu__intro-price">51mxn</span></h4>
</div>
</div>
<div class="column is-one-third">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">California <span class="menu__intro-price">55mxn</span></h4>
<p>Pasta de cangrejo, pepino y aguacate.</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Spicy Tuna <span class="menu__intro-price">66mxn</span></h4>
<p>Atún spicy con masago envuelto en lechuga y alga.</p>
</div>
</div>
</div>
<div class="columns has-text-centered">
<div class="column is-one-third">
<div class="menu__temakis-img"><img class="menu__nigiris-img" src="/wp-content/uploads/2019/02/Ebi.png" alt=""></div>
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Ebi <span class="menu__temakis-price">28mxn</span></h4>
</div>
</div>
<div class="column is-one-third">
<div class="menu__temakis-img"><img class="menu__nigiris-img" src="/wp-content/uploads/2019/02/Unagi.png" alt=""></div>
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Unagi <span class="menu__temakis-price">48mxn</span></h4>
</div>
</div>
<div class="column is-one-third">
<div class="menu__temakis-img"><img class="menu__nigiris-img" src="/wp-content/uploads/2019/02/Tako.png" alt=""></div>
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Tako <span class="menu__temakis-price">29mxn</span></h4>
</div>
</div>
</div>
<div class="columns has-text-centered">
<div class="column is-one-third">
<div class="menu__temakis-img"><img class="menu__nigiris-img" src="/wp-content/uploads/2019/02/Hamachi.png" alt=""></div>
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Hamachi <span class="menu__temakis-price">39mxn</span></h4>
</div>
</div>
<div class="column is-one-third">
<div class="menu__temakis-img"><img class="menu__nigiris-img" src="/wp-content/uploads/2019/02/Sake.png" alt=""></div>
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Sake <span class="menu__temakis-price">37mxn</span></h4>
</div>
</div>
<div class="column is-one-third">
<div class="menu__temakis-img"><img class="menu__nigiris-img" src="/wp-content/uploads/2019/02/Tai.png" alt=""></div>
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Tai <span class="menu__temakis-price">31mxn</span></h4>
</div>
</div>
</div>
<div class="columns has-text-centered">
<div class="column">
<div class="menu__temakis-img"><img class="menu__nigiris-img" src="/wp-content/uploads/2019/02/Maguro.png" alt=""></div>
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Maguro <span class="menu__temakis-price">39mxn</span></h4>
</div>
</div>
<div class="column">
<div class="menu__temakis-img"><img class="menu__nigiris-img" src="/wp-content/uploads/2019/02/Kanikama.png" alt=""></div>
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Kanikama <span class="menu__temakis-price">27mxn</span></h4>
</div>
</div>
<div class="column">
<div class="menu__temakis-img"><img class="menu__nigiris-img" src="/wp-content/uploads/2019/02/Masago.png" alt=""></div>
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Masago <span class="menu__temakis-price">37mxn</span></h4>
</div>
</div>
<div class="column">
<div class="menu__temakis-img"><img class="menu__nigiris-img" src="/wp-content/uploads/2019/02/Ikura.png" alt=""></div>
<div class="menu__intro-item menu__intro-itemTemaki">
<h4 class="menu__intro-itemTitle menu__intro-itemTemakiTitle">Ikura <span class="menu__temakis-price">51mxn</span></h4>
</div>
</div>
</div>
</div>
</section>
<section id="teppanyaki" class="teppanyakiCover">
<div class="container">
<div class="columns">
<div class="column is-offset-1 is-10">
<div class="teppanyakiCover__img">
<h3 class="subtitle">Visita nuestras mesasteppanyaki</h3>
</div>
</div>
</div>
</div>
</section>
<section class="section menu__teppanyaki">
<div class="container">
<div class="columns">
<div class="column">
<div class="column is-half is-offset-one-quarter">
<div class="menu__intro-title">
<h3 class="title title-min">TEPPANYAKI</h3>
</div>
<p><img src="/wp-content/uploads/2019/02/teppanyaki.png" alt=""></p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-4 is-offset-2">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Mesa De Teppan</h4>
<p>*SOLO EN SUCURSALES CON TEPPAN TABLE*</p>
</div>
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Arroz Frito o Mixto <span class="menu__intro-price">89mxn</span></h4>
<p>*SOLO EN SUCURSALES CON TEPPAN TABLE*</p>
</div>
</div>
<div class="column is-4">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Mixto</h4>
<p><strong>POLLO + FILETE + CAMARÓN</strong></p>
<p class="">Platillo <span class="menu__intro-price">189mxn</span></p>
<p class="">Mesa de Teppan <span class="menu__intro-price">329mxn</span></p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-3">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Camarón</h4>
<p class="">Platillo <span class="menu__intro-price">174mxn</span></p>
<p class="">Mesa de Teppan <span class="menu__intro-price">299mxn</span></p>
</div>
</div>
<div class="column is-3">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Filete</h4>
<p class="">Platillo <span class="menu__intro-price">174mxn</span></p>
<p class="">Mesa de Teppan <span class="menu__intro-price">269mxn</span></p>
</div>
</div>
<div class="column is-3">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Huachinango</h4>
<p class="">Platillo <span class="menu__intro-price">166mxn</span></p>
<p class="">Mesa de Teppan <span class="menu__intro-price">269mxn</span></p>
</div>
</div>
<div class="column is-3">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Pollo</h4>
<p class="">Platillo <span class="menu__intro-price">139mxn</span></p>
<p class="">Mesa de Teppan <span class="menu__intro-price">182mxn</span></p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-3">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Rib-eye</h4>
<p class="">Platillo <span class="menu__intro-price">174mxn</span></p>
<p class="">Mesa de Teppan <span class="menu__intro-price">269mxn</span></p>
</div>
</div>
<div class="column is-3">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Verduras</h4>
<p class="">Platillo <span class="menu__intro-price">99mxn</span></p>
<p class="">Mesa de Teppan <span class="menu__intro-price">129mxn</span></p>
</div>
</div>
<div class="column is-3">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Salmón</h4>
<p class="">Platillo <span class="menu__intro-price">189mxn</span></p>
<p class="">Mesa de Teppan <span class="menu__intro-price">329mxn</span></p>
</div>
</div>
<div class="column is-3">
<div class="menu__intro-item">
<h4 class="menu__intro-itemTitle">Pollo almendrado</h4>
<p class="">Pollo en tiras servido con zanahoria, cebolla, calabaza y champiñones. Cubierto con una salsa especial de almendra.</p>
<p class="">Platillo <span class="menu__intro-price">149mxn</span></p>
</div>
</div>
</div>
<div class="columns">
<div class="column is-8 is-offset-2">
<p class="menu__smallText"><i>*Productos sujetos a disponibilidad. Los precios ya incluyen IVA. *Agregar o cambiar ingredientes en platillos, podría tener un costo extra. *Precios y platillos pueden variar por sucursal.</i></p>
</div>
</div>
</div>
</section>
<section class="localDelivery" style="overflow: hidden;">
<div class="columns" style="margin-bottom: 0;">
<div class="column localDelivery__first">
<h2 class="titleMid">Visita una de nuestras 31 sucursales</h2>
<p><a class="button-alt" href="/sucursales">Ver sucursales</a></p>
</div>
<div class="column localDelivery__second">
<h2 class="titleMid">Pide de comer a tu domicilio, estamos en:</h2>
<div class="columns localDelivery__second-buttons">
<div class="column is-half" style="display: flex; align-items: center; justify-content: center;"><a href="https://www.sindelantal.mx/"><img style="max-height: 100px;" src="/wp-content/uploads/2019/02/sindelantal.png" alt=""></a></div>
<div class="column is-half" style="display: flex; align-items: center; justify-content: center;"><a href="https://www.ubereats.com/en-MX/"><img style="max-height: 100px;" src="/wp-content/uploads/2019/02/ubereatsBlack.png" alt=""></a></div>
</div>
</div>
</div>
</section>
<p><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><br><script type="text/javascript">
   jQuery(document).ready(function($){
   window.onload = function (){
     $(".bts-popup").delay(1000).addClass('is-visible');
 	}
 	//open popup
 	$('.bts-popup-trigger').on('click', function(event){
 		event.preventDefault();
 		$('.bts-popup').addClass('is-visible');
 	});
	//close popup
 	$('.bts-popup').on('click', function(event){
 		if( $(event.target).is('.bts-popup-close') || $(event.target).is('.bts-popup') ) {
 			event.preventDefault();
 			$(this).removeClass('is-visible');
 		}
 	});
 	//close popup when clicking the esc keyboard button
 	$(document).keyup(function(event){
     	if(event.which=='27'){
     		$('.bts-popup').removeClass('is-visible');
 	    }
     });
 });
 </script></p>
<div class="bts-popup" role="alert">
<div class="bts-popup-container">
<h3 class="subtitle modal__subtitle">¿Qué Nikkori buscas?</h3>
<p><select class="" name="forma" onchange="location = this.value;">
<option value="/barrio-antiguo">Barrio Antiguo</option>
<option value="/ciudad-victoria">Cd. Victoria</option>
<option value="/cumbres">Cumbres</option>
<option value="/fashion-drive">Fashion Drive</option>
<option value="/garza-sada">Garza Sada</option>
<option value="/hermosillo">Hermosillo</option>
<option value="/lindavista">Linda Vista</option>
<option value="/loreto">Plaza Loreto</option>
<option value="/miravalle">Miravalle</option>
<option value="/monclova">Monclova</option>
<option value="/nuevo-sur">Nuevo Sur</option>
<option value="/pabellon-m">Pabellón M</option>
<option value="/piedras-negras">Piedras Negras</option>
<option value="/playa-del-carmen">Playa del Carmen</option>
<option value="/ramos-arizpe">Ramos Arizpe</option>
<option value="/reynosa">Reynosa</option>
<option value="/la-rioja">La Rioja</option>
<option value="/saltillo">Saltillo</option>
<option value="/santa-catarina">Santa Catarina</option>
<option value="/sendero">Sendero</option>
<option value="/torreon-plaza-city">Torreon Plaza City</option>
<option value="/valle">Valle</option>
<option value="/valle-domicilio">Valle Domicilio</option>
<option value="/valle-oriente">Valle Oriente</option>
<option value="/via-02">Vía 02</option>
<option value="/via-cordillera">Vía Cordillera</option>
<option value="/sucursales/vita.html">Plaza Vita</option>
</select><a class="bts-popup-close img-replace" href="#0">Close</a></p>
</div>
</div>
<style>
.buttons {
margin-bottom: 0 !important;
padding-right: 1.5rem;
}
.menu__pokebowlAlt-signature {
max-width: 450px;
margin: 0 auto;
}
.menu__pokebowlAlt-titleSignature {
display: inline-block;
}
.menu__pokebowlAlt-titleSignaturePokes {
float: right;
}
.menu__intro-itemTitle {
display: flex;
align-items: baseline;
justify-content: space-between;
}
.menu__pokebowlAlt-signatureIcon {
margin: 1rem 0;
}
.localDelivery__first,
.localDelivery__second {
padding: 5rem 3rem;
margin: 0;
min-height: unset;
}
.menu__pokebowl-logo {
width: 200px;
}
.menu__rolls-itemImgAlt {
display: block;
}
.menu__rolls-bigRoll {
padding: 1.5rem;
}
.menu__intro-item {
padding: 0 !important;
}
.menu__intro-itemTemaki {
margin-top: 0;
margin-bottom: 0;
}
.menu__intro-itemTemakiTitle {
justify-content: center;
}
.menu__pokebowlAlt-signaturePokesImg {
max-height: 85px;
}
select {
background-image: url("/wp-content/uploads/2019/02/cd-top-arrow_black.png");
background-color: #fff;
width: auto;
}
.menu__rolls-redDot {
color: #F13C3F;
margin-right: .5rem;
}
.menu__rolls-redText {
color: #F13C3F;
}
.menu__temakis-img {
justify-content: center;
z-index: -9;
overflow: hidden;
}
.menu__nigiris-img {
height: 170px;
}
.menu__smallText {
font-size: .8rem;
}
.menu__riceSize {
height: 35px;
}
.titleWhite {
color: #fff;
}
.menu__pokebowlAlt-signaturePokeTitle {
font-size: 1.5rem;
}
.menu__pokebowlAlt-proteinImg {
max-width: 120px;
}
@media only screen and (max-width: 768px) {
.signaturePoke-logo {
margin-top: -3rem;
height: 130px;
}
.menu__temakis-img {
justify-content: center;
}
.title-min {
font-size: 2.6rem;
}
}
</style>
