---
title: Nikkori - Negocio
---
<nav class="navbar is-home is-white is-fixed-top is-absolute" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">
        <img src="/wp-content/uploads/2019/02/nikkori-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a href="/menu.html" class="navbar-item__alt navbar-item">
          Menú
        </a>

        <a href="/sucursales.html" class="navbar-item__alt navbar-item">
          Sucursales
        </a>

        <a href="/catering.html" class="navbar-item__alt navbar-item">
          Catering
        </a>

        <a href="/negocio.html" class="navbar-item__alt navbar-item">
          Franquicia
        </a>
      </div>

      <div class="navbar-end">

        <div class="navbar-item">
          <div class="buttons">
            <a href="https://www.instagram.com/nikkori_sushi"><i class="social-icon__alt fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/nikkori.mx"><i class="social-icon__alt fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>

    </div>
</nav>
<section>
  <div class="columns">
    <div class="column">
      <div class="biz-cover">

      </div>
    </div>
    <div class="column">
      <div class="biz-container">
        <div class="biz-container__text">
          <h1 class="title menu-container__title">Hablemos de negocios</h1>
          <p class="menu-container__text">“Somos un grupo de empresarios mexicanos que decidimos desarrollar una cadena en el ramo restaurantero especializado en la comida japonesa.
            Con inventiva, innovacion e impetu al ofrecer una experiencia de sabores creativos adaptandolos a la cultura mexicana”. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3 has-text-centered">
        <p class="catering__intro">
          Grupo NIKKORI es un negocio especializado en la elaboración de comida japonesa, que surge en Marzo de 1993 abriendo sus puertas a vecinos regiomontanos y ofreciendo los servicios de sushi bar en salón, así como el servicio a domicilio.
          <br><br>
          NIKKORI SUSHI nace del esfuerzo de un equipo entusiasta con la idea de ofrecer al mercado existente una amplia gama de platillos
          estilo japonés, tratando en todo momento de superar las expectativas de los clientes, contando con un excelente servicio y una calidad difícilmente igualada.
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="biz-column">
          <img class="biz-column-img" src="/wp-content/uploads/2019/02/mision.png" alt="">
          <p><strong>Misión</strong></p>
          <p>“Llevar a cada persona a vivir una experiencia única a traves de la degustación de sabores dentro de un ambiente creativo, calido que te conduce intuitivamente a momentos de alegría”.</p>
        </div>
      </div>
      <div class="column">
        <div class="biz-column">
          <img class="biz-column-img" src="/wp-content/uploads/2019/02/vision.png" alt="">
          <p><strong>Visión</strong></p>
          <p>Clientes: Superar las expectativas del cliente por medio de una experiencia inigualable de cocina japonesa, brindando un servicio impecable y de calidad.</p>
        </div>
      </div>
      <div class="column">
        <div class="biz-column">
          <img class="biz-column-img" src="/wp-content/uploads/2019/02/resp.png" alt="">
          <p><strong>Responsabilidad social</strong></p>
          <p>Crear conciencia en la comunidad por medio de acciones concretas.</p>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="franquicia-cover">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3 class="franquicia-cover__title subtitle">Franquicias <br>
          —</h3>
        <p class="franquicia-cover__text">La Franquicia de GRUPO NIKKORI ofrece al inversionista un concepto de restaurante casual con una atmósfera agradable, dentro de un ambiente contemporáneo, en donde el cliente es nuestra principal preocupación.</p>
      </div>
      <div class="column">
        <div class="franquicia-cover__box">
          <p class="franquicia-cover__text">Ofrecemos una gran variedad de platillos japoneses de la mejor calidad a precios muy razonables, contando con servicio en restaurante, entrega a domicilio y banquetes.
            <br><br>
            Grupo NIKKORI es un negocio especializado en la elaboración de comida japonesa, que surge en Marzo de 1993 abriendo sus puertas a vecinos regiomontanos y ofreciendo los servicios de sushi bar en salón, así como el servicio a domicilio.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-form">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3 has-text-centered">
        <h3 class="title">Escribenos, te queremos escuchar.</h3>
        <p class="contact-form-text">Por favor de llenar el formulario de solicitud de información.</p>
        <label for="email">Email</label><br>
        <input type="email" name="" value="">
        <br>
        <br>
        <label for="text">Nombre</label><br>
        <input type="text" name="" value="">
        <br>
        <br>
        <label for="textarea">Mensaje</label><br>
        <input type="textarea" name="" value="">
      </div>
    </div>
  </div>
</section>
