---
title: Nikkori - Sucursales
---

<nav class="navbar is-home is-white is-fixed-top is-absolute" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/index.html">
        <img src="/wp-content/uploads/2019/02/nikkori-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a href="/menu.html" class="navbar-item__alt navbar-item">
          Menú
        </a>

        <a href="/sucursales.html" class="navbar-item__alt navbar-item">
          Sucursales
        </a>

        <a href="/catering.html" class="navbar-item__alt navbar-item">
          Catering
        </a>

        <a href="/negocio.html" class="navbar-item__alt navbar-item">
          Franquicia
        </a>
      </div>

      <div class="navbar-end">

        <div class="navbar-item">
          <div class="buttons">
            <a href="https://www.instagram.com/nikkori_sushi"><i class="social-icon__alt fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/nikkori.mx"><i class="social-icon__alt fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>

    </div>
</nav>
<section>
<div class="columns">
<div class="column">
<div class="maps"><iframe style="border: 0;" src="https://www.google.com/maps/embed/v1/search?q=Nikkori&amp;key=AIzaSyCLkpRbcV9YGoPZYiiVyzK8LvNv1rnRgvw" allowfullscreen="allowfullscreen" width="100%" height="100%" frameborder="0"></iframe></div>
</div>
<div class="column">
<div class="cardsContainer">
<div class="cardsContainer__select">&nbsp;</div>
<div class="cardsContainer__wrap">
<div class="navbar-locations has-text-centered">
<h3 class="">Selecciona tu localidad</h3>
<p><select class="" name="forma" onchange="location = this.value;">
<option value="#monterrey">Monterrey</option>
<option value="#sanpedro">San Pedro</option>
<option value="#santacatarina">Santa Catarina</option>
<option value="#sannicolas">San Nicolas</option>
<option value="#guadalupe">Guadalupe</option>
<option value="#cohauila">Coahuila</option>
<option value="#tamaulipas">Tamaulipas</option>
<option value="#chiapas">Chiapas</option>
<option value="#queretaro">Queretaro</option>
<option value="#quintanaroo">Quintana Roo</option>
</select></p>
</div>
<h3 id="monterrey" class="titleMid cardsContainer__localTitle">Monterrey</h3>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-barrioantiguo.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Barrio Antiguo</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/tNtoRCC2CUu" target="_blank" rel="noopener noreferrer">Av. Morelos #837 local 1, Barrio Antiguo,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/tNtoRCC2CUu" target="_blank" rel="noopener noreferrer">Centro, 64000 Monterrey, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-8344-9645"><i class="fas fa-phone"></i> 01 81 8344 9645</a></p>
<p><i class="far fa-clock"></i> 1–10PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-cumbres.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Cumbres</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/TEkJ8RE92q22" target="_blank" rel="noopener noreferrer">Avenida Paseo de los Leones #117 Colonia, Cumbres Elite 5to. Sector,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/TEkJ8RE92q22" target="_blank" rel="noopener noreferrer">64349 Monterrey, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2169-2270"><i class="fas fa-phone"></i> 01 81 2169 2270</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2169-3229"><i class="fas fa-phone"></i> 01 81 2169 3229</a></p>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-garzasada.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Garza Sada</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/t8dyTjEgomM2" target="_blank" rel="noopener noreferrer">Eugenio Garza Sada 3431 Local F003,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/t8dyTjEgomM2" target="_blank" rel="noopener noreferrer">Contry, 64860 Monterrey, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-1358-4839"><i class="fas fa-phone"></i> 01 81 1358 4839</a></p>
<p><i class="far fa-clock"></i> 12:30–9:30PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-3.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori San Jerónimo</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/1wqympJ1vxQ2" target="_blank" rel="noopener noreferrer">Río Verde 121A, Miravalle, 64660 Monterrey, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-8333-2503"><i class="fas fa-phone"></i> 01 81 8333 2503</a></p>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-nuevosur.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Nuevo Sur</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/JMFS16q9J6C2" target="_blank" rel="noopener noreferrer">Av. Revolución 2703, Ladrillera,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/JMFS16q9J6C2" target="_blank" rel="noopener noreferrer">64830 Monterrey, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2135-3777"><i class="fas fa-phone"></i> 01 81 2135 3777</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2135-3778"><i class="fas fa-phone"></i> 01 81 2135 3778</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2135-3779"><i class="fas fa-phone"></i> 01 81 2135 3779</a></p>
<p><i class="far fa-clock"></i> 9AM–1AM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-pabellonm.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Pabellón M</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/NcANjYCkQP32" target="_blank" rel="noopener noreferrer">José Garibaldi 1101,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/NcANjYCkQP32" target="_blank" rel="noopener noreferrer">Centro, 64000 Monterrey, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2472-9569"><i class="fas fa-phone"></i> 01 81 2472 9569</a></p>
<p><i class="far fa-clock"></i> 12:30–9:30PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-rioja.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori La Rioja</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/EPNbSjtmTZQ2" target="_blank" rel="noopener noreferrer">Carr Nacional 85, La Rioja,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/EPNbSjtmTZQ2" target="_blank" rel="noopener noreferrer">64988 Monterrey, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-1246-2255"><i class="fas fa-phone"></i> 01 81 1246 2255</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-1246-2265"><i class="fas fa-phone"></i> 01 81 1246 2265</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-1246-1274"><i class="fas fa-phone"></i> 01 81 1246 1274</a></p>
<p><i class="far fa-clock"></i> 1PM–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/03/platino.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Poke Platino</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/dCcwSVGkZbn" target="_blank" rel="noopener noreferrer">Anillo Perif. 1300, Colinas de San Jerónimo</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/dCcwSVGkZbn" target="_blank" rel="noopener noreferrer">64630, Monterrey, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2721-7999"><i class="fas fa-phone"></i> 01 81 2721 7999</a></p>
<p><i class="far fa-clock"></i> 9AM–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-via02.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Vía 02</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/guTaVL4dFgG2" target="_blank" rel="noopener noreferrer">Blvd. Rogelio Cantú Gómez #1000 Colinas de San Jerónimo</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/guTaVL4dFgG2" target="_blank" rel="noopener noreferrer">Monterrey, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2721-1818"><i class="fas fa-phone"></i> 01 81 2721 1818</a></p>
<p><i class="far fa-clock"></i> 9AM–11PM</p>
</div>
</div>
</div>
<h3 id="sanpedro" class="titleMid cardsContainer__localTitle">San Pedro</h3>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-fashiondrive.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Fashion Drive</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/TJpPH6KhNqp" target="_blank" rel="noopener noreferrer">Av. Diego Rivera 1000, Residencial San Agustín,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/TJpPH6KhNqp" target="_blank" rel="noopener noreferrer">66260 San Pedro Garza García, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2558-0434"><i class="fas fa-phone"></i>01 812 558 0434</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2558-0435"><i class="fas fa-phone"></i>01 812 558 0435</a></p>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/03/udem.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori UDEM</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/pymhMq1DjCs" target="_blank" rel="noopener noreferrer">Av. Ignacio Morones Prieto 4500, Jesús M. Garza (Asentamiento Irregular),</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/pymhMq1DjCs" target="_blank" rel="noopener noreferrer">66238 San Pedro Garza García</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-8338-8891"><i class="fas fa-phone"></i> 01 81 8338 8891</a></p>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-1.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Calzada del Valle</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/bZpPMvk6TZ72" target="_blank" rel="noopener noreferrer">Calzada del Valle #358, Local 6, Col. Del Valle, 66220 San Pedro Garza García, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-1133-6563"><i class="fas fa-phone"></i> 01 81 1133 6563</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-8335-0150"><i class="fas fa-phone"></i> 01 81 8335 0150</a></p>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-domicilio.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Express</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/pAny3c3Q5YG2" target="_blank" rel="noopener noreferrer">Rio Mississippi #130, Local B1, Col. Del Valle,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/pAny3c3Q5YG2" target="_blank" rel="noopener noreferrer">66220 San Pedro Garza García, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-8356-5800"><i class="fas fa-phone"></i> 01 81 8356 5800</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-8356-5802"><i class="fas fa-phone"></i> 01 81 8356 5802</a></p>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-valleoriente.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Valle Oriente</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/gmHVV4zu5EN2" target="_blank" rel="noopener noreferrer">Av Lázaro Cárdenas 1592, Alfareros,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/gmHVV4zu5EN2" target="_blank" rel="noopener noreferrer">64753 Monterrey, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-8486-2380"><i class="fas fa-phone"></i> 01 81 8486 2380</a></p>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-2.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Plaza Vita</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/dkNepLPZqWp" target="_blank" rel="noopener noreferrer">Plaza Vita 1er piso. Av. Gómez Morin 900,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/dkNepLPZqWp" target="_blank" rel="noopener noreferrer">Col. Carrizalejo, San Pedro Garza García, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-3134-2285"><i class="fas fa-phone"></i>01 81 3134 2285</a></p><div class="mailmunch-forms-in-post-middle" style="display: none !important;"></div>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<h3 id="santacatarina" class="titleMid cardsContainer__localTitle">Santa Catarina</h3>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-santacatarina.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Santa Catarina</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/UVa7RFaXwwp" target="_blank" rel="noopener noreferrer">Industriales del Poniente #1050, Sin Nombre de Colonia 3,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/UVa7RFaXwwp" target="_blank" rel="noopener noreferrer">66376 Santa Catarina, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2559-8969"><i class="fas fa-phone"></i> 01 81 2559 8969</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2559-8979"><i class="fas fa-phone"></i> 01 81 2559 8979</a></p>
<p><i class="far fa-clock"></i> 1PM–11:30PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-2.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Via Cordillera</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/sGjymCXqYy92" target="_blank" rel="noopener noreferrer">Eje Interior S/N, Sin Nombre de Colonia 25, Sin Nombre de Col 25, Santa Catarina, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2169-2903"><i class="fas fa-phone"></i>01 81 2169 2903</a></p>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<h3 id="sannicolas" class="titleMid cardsContainer__localTitle">San Nicolás</h3>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-sendero.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Sendero</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/3zJMKZ6STzH2" target="_blank" rel="noopener noreferrer">Calle Rep. Mexicana 420, Valle de las Alamedas,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/3zJMKZ6STzH2" target="_blank" rel="noopener noreferrer">66417 Nicolás, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2134-0505"><i class="fas fa-phone"></i> 01 81 2134 0505</a></p>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<h3 id="guadalupe" class="titleMid cardsContainer__localTitle">Guadalupe</h3>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-lindavista.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Linda Vista</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/KppSxWhVhdT2" target="_blank" rel="noopener noreferrer">Av. Miguel Alemán Local, Linda Vista,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/KppSxWhVhdT2" target="_blank" rel="noopener noreferrer">67130 Guadalupe, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-8479-5359"><i class="fas fa-phone"></i> 01 81 8479 5359</a></p>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/03/loretto.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Loreto</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/7uTXb7SgDhk" target="_blank" rel="noopener noreferrer">Plaza Loreto 1er piso. Paseo las Américas 230,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/7uTXb7SgDhk" target="_blank" rel="noopener noreferrer">Valle del Contry, Guadalupe, N.L.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-81-2704-4249"><i class="fas fa-phone"></i> 01 81 2704 4249</a></p>
<p><i class="far fa-clock"></i> 12:30–11PM</p>
</div>
</div>
</div>
<h3 id="cohauila" class="titleMid cardsContainer__localTitle">Coahuila</h3>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-piedrasnegras.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Piedras Negras</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/RcTAiLTJv2S2" target="_blank" rel="noopener noreferrer">Blvd. Mendoza Berrueto 2616, Fraccionamiento San Felipe, San Felipe Amp,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/RcTAiLTJv2S2" target="_blank" rel="noopener noreferrer">26070 Piedras Negras, Coah.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-878-795-2082"><i class="fas fa-phone"></i> 01 878 795 2082</a></p>
<p><i class="far fa-clock"></i> 12PM–11:30PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-ramosarizpe.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Ramos Arizpe</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/tRRFhuBjMpE2" target="_blank" rel="noopener noreferrer">Carretera Saltillo – Monterrey Km 11.8 S/N, Eulalio Gutiérrez,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/tRRFhuBjMpE2" target="_blank" rel="noopener noreferrer">25900 Ramos Arizpe, Coah.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-844-488-4422"><i class="fas fa-phone"></i> 01 844 488 4422</a></p>
<p><i class="far fa-clock"></i> 12PM–11:30PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-saltillo.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Satillo</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/nSPNo4Hsj9K2" target="_blank" rel="noopener noreferrer">Perif. Luis Echeverría 1570,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/nSPNo4Hsj9K2" target="_blank" rel="noopener noreferrer">Sin Nombre de Col 16, 25270 Saltillo, Coah.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-844-416-7997"><i class="fas fa-phone"></i> 044 844 416 7997</a></p>
<p><i class="far fa-clock"></i> 1PM–11:30PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-torreonplaza.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Torreon Plaza City</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/VoA8d1eYFKt" target="_blank" rel="noopener noreferrer">Periferico Raul Lopez Sanchez 5500 Interior 8, Residencial el Fresno,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/VoA8d1eYFKt" target="_blank" rel="noopener noreferrer">27018 Torreón, Coah.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-871-750-6868"><i class="fas fa-phone"></i> 01 871 750 6868</a></p>
<p><i class="far fa-clock"></i> 1PM–11:30PM</p>
</div>
</div>
</div>
<h3 id="chiapas" class="titleMid cardsContainer__localTitle">Hermosillo</h3>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/03/udem.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Hermosillo</strong></h5>
<p><a class="cardsContainer__itemPhone" href="tel:+52-662-110-1268"><i class="fas fa-phone"></i> 01 662 110 1268</a></p>
<p><i class="far fa-clock"></i> 12:30PM–11PM</p>
</div>
</div>
</div>
<h3 id="tamaulipas" class="titleMid cardsContainer__localTitle">Tamaulipas</h3>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-cdvictoria.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Cd. Victoria</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/4rrroJeLnRk" target="_blank" rel="noopener noreferrer">Av. Tamaulipas 3825, Plaza FORUM Ciudad Victoria,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/4rrroJeLnRk" target="_blank" rel="noopener noreferrer">Montes Altos, 87025 Cd Victoria, Tamps.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-834-316-5400"><i class="fas fa-phone"></i> 01 834 316 5400</a></p>
<p><i class="far fa-clock"></i> 1–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-reynosa.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Reynosa</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/tcyzELDmn6N2" target="_blank" rel="noopener noreferrer">París 555 Local F, Beatty,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/tcyzELDmn6N2" target="_blank" rel="noopener noreferrer">88630 Reynosa, Tamps.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-899-456-6222"><i class="fas fa-phone"></i> 044 81 456 6222</a></p>
<p><i class="far fa-clock"></i> 11AM–11PM</p>
</div>
</div>
</div>
<h3 id="chiapas" class="titleMid cardsContainer__localTitle">Tuxtla Gutierrez</h3>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/03/tuxtla.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Tuxtla</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/HsHoYsW1nmx" target="_blank" rel="noopener noreferrer">Plaza Vitta 29020</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/HsHoYsW1nmx" target="_blank" rel="noopener noreferrer">29020 Tuxtla Gutiérrez, Chiapas</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-961-639-6451"><i class="fas fa-phone"></i> 01 961 639 6451</a></p>
<p><i class="far fa-clock"></i> 1PM–11PM</p>
</div>
</div>
</div>
<h3 id="queretaro" class="titleMid cardsContainer__localTitle">Querétaro</h3>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/03/queretaro.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Querétaro</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/JxHNXetgk1K2" target="_blank" rel="noopener noreferrer">Blvd. Bernardo Quintana 4243, Alamos 3ra Secc,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/JxHNXetgk1K2" target="_blank" rel="noopener noreferrer">76160 Santiago de Querétaro, Qro.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-442-674-2068"><i class="fas fa-phone"></i> 01 442 674 2068</a></p>
<p><i class="far fa-clock"></i> 1PM–11PM</p>
</div>
</div>
</div>
<h3 id="quintanaroo" class="titleMid cardsContainer__localTitle">Quintana Roo</h3>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/02/local-playadelcarmen.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Playa del Carmen</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/ZL2vjYSHoP72" target="_blank" rel="noopener noreferrer">10 Avenida Norte Xamanha, Gonzalo Guerrero,</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/ZL2vjYSHoP72" target="_blank" rel="noopener noreferrer">77710 Playa del Carmen, Q.R.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-984-803-1736"><i class="fas fa-phone"></i> 01 984 803 1736</a></p>
<p><i class="far fa-clock"></i> 1PM–11PM</p>
</div>
</div>
</div>
<div class="cardsContainer__item">
<div class="columns">
<div class="column is-3"><img src="/wp-content/uploads/2019/03/playacar.png" alt=""></div>
<div class="column is-9">
<h5 class="cardsContainer__title"><strong>Nikkori Playacar</strong></h5>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/LoatKM9oQuC2" target="_blank" rel="noopener noreferrer">Ave. Aviación Plaza Coba local 211</a></p>
<p><a class="cardsContainer__itemAddress" href="https://goo.gl/maps/LoatKM9oQuC2" target="_blank" rel="noopener noreferrer">77710 Playa del Carmen, Q.R.</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-984-873-1477"><i class="fas fa-phone"></i> 01 984 873 1477</a></p>
<p><a class="cardsContainer__itemPhone" href="tel:+52-984-873-1477"><i class="fas fa-phone"></i> 01 984 873 2346</a></p>
<p><i class="far fa-clock"></i> 1PM–11PM</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<style>
select {
background-image: url("/wp-content/uploads/2019/02/cd-top-arrow_black.png");
}
</style>
